<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Quản lý nhân viên', 'Chấm công']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div ng-controller="salarytIndexCtrl" id="index-ctrl">
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-sm-12 relative-box tables_wrapper salaryt-article">
                    <div jarvis-widget data-auto-height="true" data-widget-colorbutton="true" data-widget-color="greenDark" data-widget-editbutton="false" data-widget-deletebutton="false"  ng-controller="SalarytCtrl" id="salaryt_ctrl">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Chấm công ({{salarytList.totalSalaryt ? salarytList.totalSalaryt : 0 | number}})</h2>
                            <div class="jarviswidget-ctrls" role="menu"><a href="" ng-click="clearFilterSalaryts()" class="button-icon btn-staff-refresh" ><i class="fa fa-refresh"></i></a></div>
                        </header>
                        <div>
                            <!-- widget content -->
                            <div class="widget-body no-padding" salaryt-list>
                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="changeImageModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="component">
                <div class="overlay">
                    <div class="overlay-inner"></div>
                </div>
                <div class="btn-group-crop">
                    <button type="button" class="btn-crop" data-dismiss="modal">Cancel & Close</button>
                    <button type="button" class="btn-crop js-crop"><i class="fa fa-crop"></i> Crop & Save</button>
                    <button type="button" class="btn-crop" id="clockwise"><i class="fa fa-repeat"></i></button>
                    <button type="button" class="btn-crop" id="counterclockwise"><i class="fa fa-undo"></i></button>
                </div>
                <img class="resize-image" src="styles/img/loader.gif" alt="Crop image area" />
            </div>
            <div class="modal-footer">
                <div class="alert alert-info crop-tip-hint"></div>
            </div>
        </div>
    </div>
</div>