<div class="modal fade" id="modal-add-salaryt" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-salaryt" aria-hidden="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-add-salaryt">Xác nhận {{currentSalaryt.permission == 2 ? 'đi làm' : 'nghỉ'}} của nhân viên</h4>

            </div>
            <div class="modal-body">
                <form class="addSalarytForm form-validator" name='addSalarytForm' autocomplete="off">
                    <div class="form-group">
                        <label class="control-label">Tên nhân viên</label>
                        <h3>{{currentSalaryt.fullname}}</h3>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ngày </label>
                        <label class="control-label"><i>
                            {{currentSalaryt.work_day | amDateFormat:'DD/MM/YYYY'}}</i>
                        </label>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Có đi làm không?</label>
                        <select name="salary_type" ng-model='currentSalaryt.permission'
                                class="form-control">
                            <option value="2" ng-selected="currentSalaryt.work_value > 0 && currentSalaryt.permission == 2">Đi Làm</option>
                            <option value="1" ng-selected="currentSalaryt.work_value == 0 && currentSalaryt.permission == 1">Nghỉ Có Phép</option>
                            <option value="0" ng-selected="currentSalaryt.work_value == 0 && currentSalaryt.permission == 0">Nghỉ Không Phép</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="currentSalaryt.permission == 2">
                        <label class="control-label">Công</label>
                        <input type="text" placeholder="0.0" name='work_day' class="form-control"
                               ng-model="currentSalaryt.work_value" cr-numeric="{vMax:2,mDec:1}">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group" ng-show="currentSalaryt.permission == 1">
                        <label class="control-label">Lý do</label>
                        <input type="text" name='note' class="form-control"
                               ng-model="currentSalaryt.note">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group" ng-show="!currentSalaryt.addMode && currentSalaryt.created_at">
                        <label class="control-label">Ngày tạo </label>
                        <label class="control-label"><i>
                            {{currentSalaryt.created_at | amDateFormat:'DD/MM/YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                    <div class="form-group" ng-show="!currentSalaryt.addMode && currentSalaryt.created_by">
                        <label class="control-label">Người tạo</label>
                        <label class="control-label"><b>
                            {{currentSalaryt.author.fullname}}</b>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveSalaryt()" ng-if="userLogin.user_type > 1">
                    Lưu
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-3 form-group">
            <div class="input-group">
                <input type="text" id="timekeepingStartDate"
                       class="form-control timekeepingDateStartEnd" placeholder="Từ ngày *">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-sm-3 form-group">
            <div class="input-group">
                <input type="text" id="timekeepingEndDate"
                       class="form-control timekeepingDateStartEnd" placeholder="Đến ngày *">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-sm-2 form-group">
            <select ng-model="filterTimekeepingByStatus" class="form-control">
                <option value="" ng-selected="filterTimekeepingByStatus == ''">Tất cả</option>
                <option value="1" ng-selected="filterTimekeepingByStatus == 1">Hoạt động</option>
                <option value="0" ng-selected="filterTimekeepingByStatus == 0">Không hoạt động</option>
            </select>
        </div>
        <div class="col-sm-4 form-group text-right">
            <div class="form-inline">
                <select style="width: 50%;" ng-model="filterTimekeepingByStore" name="filterInvoicesByStore" class="form-control" ng-show="stores.length > 1"
                        ng-options="s.id as s.name for s in stores track by s.id">
                    <option value="">Tất cả cửa hàng</option>
                </select>
                <button class="btn btn-primary" ng-click="filterSalaryt()" ng-if='userLogin.user_type > 0'>
                    <i class="fa fa-refresh"></i> <span class="hidden-mobile">Xem</span>
                </button>
            </div>
        </div>
        <div class="col-sm-12">
            <a href="" class="text-success"><i class="fa fa-check-square-o"></i></a> : Đi làm đủ giờ; &nbsp;
            <a href="" class="text-success"><i class="fa fa-check"></i></a> : Đi làm thiếu giờ; &nbsp;
            <a href="" class="text-danger"><i class="fa fa-square-o"></i></a> : Nghỉ ; &nbsp;
            <a href="" class="text-warning"><i class="fa fa-minus-square-o"></i></a> : Nghỉ có phép
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead>
        <tr>
            <th style="width: 20px">#</th>
            <th style="min-width: 200px">Nhân viên</th>
            <th style="width: 50px">Công</th>
            <th ng-repeat="(index, aday) in salarytList.days">{{aday.work_day | amDateFormat:'DD/MM'}}</th>
        </tr>
        </thead>
        <tr class="odd" ng-if="salarytList.data.length == 0">
            <td valign="top" colspan="20" class="dataTables_empty">Không tìm thấy</td>
        </tr>
        <tr ng-repeat="(index, Salaryt) in salarytList.data" data-toggle="tooltip" data-placement="top" title="{{Salaryt.fullname}}">
            <td class="smart-form">
                <label class="checkbox">
                <input type="checkbox" ng-change="checkAllTimekeeping(index, Salaryt)" ng-model="Salaryt.all" ng-if="userLogin.user_type >= 2">
                <i></i>
                </label>
            </td>
            <td>{{Salaryt.fullname}}</td>
            <td>{{Salaryt.worked_value}}</td>
            <td ng-repeat="(indexa, aday) in salarytList.days" class="text-center">
                <div class="smart-form" ng-if="!salarytList.timekeepings[index][indexa].work_value && salarytList.timekeepings[index][indexa].work_value != 0">
                    <a href="" class="text-muted timekeeping-worked" ng-click="workedTimekeeping(Salaryt, aday)"><i class="fa fa-check-square-o fa-fw fa-lg"></i></a>
                    <a href="" class="text-muted timekeeping-not-work" ng-click="addSalaryt(Salaryt, aday)"><i class="fa fa-square-o  fa-fw fa-lg"></i></a>
                </div>
                <div ng-if="salarytList.timekeepings[index][indexa].work_value >= 0" ng-click="editSalaryt(salarytList.timekeepings[index][indexa])">
                    <a ng-if="salarytList.timekeepings[index][indexa].work_value >= 1" href="" class="text-success"><i class="fa fa-check-square-o fa-lg"></i></a>
                    <a ng-if="salarytList.timekeepings[index][indexa].work_value > 0 && salarytList.timekeepings[index][indexa].work_value < 1" href="" class="text-success"><i class="fa fa-check fa-lg"></i></a>
                    <a ng-if="salarytList.timekeepings[index][indexa].work_value == 0 && salarytList.timekeepings[index][indexa].permission == 1" href="" class="text-warning"><i class="fa fa-minus-square-o fa-lg"></i></a>
                    <a ng-if="salarytList.timekeepings[index][indexa].work_value == 0 && salarytList.timekeepings[index][indexa].permission == 0" href="" class="text-danger"><i class="fa fa-square-o fa-lg"></i></a>
                </div>
            </td>
        </tr>
        <tfoot>
        <tr ng-if="salarytList.data.length > 0">
            <td colspan="{{salarytList.days.length + 3}}" class="text-center">
                <paging
                        page="salarytList.currentPage"
                        page-size="salarytList.itemsPerPage"
                        total="salarytList.totalSalaryt"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageSalaryt(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
