/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
body{
    with:100%;
    overflow-x:hidden !important;
}
.login-form-index{float: none; margin: auto}
.relative-widget{
    position: relative;
}
.position-right-button, .position-right-button:active{
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 5px;
    left: auto;
}
.select2-container{width: 100%;}
.table tr:last-child>td{border-bottom: 1px solid #ccc !important;}

.status-ajax > i.fa-pulse{visibility: hidden; width: 0; height: 0}
.status-ajax.waiting > i.fa-save{visibility: hidden; width: 0; height: 0}
.status-ajax.waiting > i.fa-pulse {visibility: visible; width: auto; height: auto}
.smart-form-permission .form-actions{margin: 0 -13px;}
.smart-core-permission li{outline-style: hidden; list-style: none;}
.smart-core-permission li > label{padding: 0 20px;}
.smart-permission-tabs > .nav-tabs li:not(.active) a{color: #999 !important;}
.table-smart-permission{border: 1px solid #dfdfdf; line-height: 25px;}
.table-smart-permission tr>th{text-align: right; padding-right: 10px;}
.table-smart-permission tr>th:first-child{text-align: left;}
.table-smart-permission tr>td{text-align: right;}
.table-smart-permission tr>td:first-child, .table-smart-permission tr.pers-control>td:first-child{text-align: left;}
.table-smart-permission tr>td .toggle{margin-top: 0; display: inline;}
.ctr-add {padding: 10px 0}
.table-smart-permission tr.pers-control >td{text-align: right;}
.table-smart-permission .popover-title, .table-smart-permission .popover-content{padding: 15px;}
.smart-form .toggle i{top: 0 !important;}
.dt-toolbar{
    padding: 10px 7px 9px !important;
}
.smart-permission-tabs{
    display: table;
    width: 100%;
}
.smart-permission-tabs .tabs-left{
    padding: 15px 0;
    height: 200px;
}

.smart-permission-tabs .tab-content {
    padding: 10px;
    display: table-cell;
}
.smart-permission-tabs > .nav-tabs{
    width: 180px;
    display: table-cell !important;
    float: none !important;
    vertical-align: top;
}

div[ng-app] { margin: 10px; }
.table {width: 100% }

.fixed-widget{
    position: fixed;
    top: 5px;
    z-index: 999;
}
.relative-box{
    position: relative;
}
.red-item{
    color: red !important;
}
.col-stt {
    width: 20px;
    text-align: center;
}
.pagination li:hover {
    cursor: pointer;
}
.tables_wrapper {
    position: relative;
    clear: both;
}
.tables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    margin-top: -25px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 1.2em;
    background-color: white;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    /* Chrome10+,Safari5.1+ */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    /* FF3.6+ */
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    /* IE10+ */
    background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    /* Opera 11.10+ */
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
    /* W3C */
    z-index: 1000;
}
.col-w-55 {
    min-width: 55px;
}
.col-w-75 {
    min-width: 75px;
}
.text-success {
    color: green !important;
}
.text-info {
    color: blue !important;
}
.text-danger {
    color: red !important;
}
.btn-label-right {
    position: relative;
    right: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,.15);
}
.margin-bottom-10 {
    margin-bottom: 10px;
}
.margin-top-10 {
    margin-top: 10px;
}
.tab-pane {
    padding: 10px;
}
.symbol.required:before {
    content: "*";
    display: inline;
    color: #E6674A;
}
.symbol.ok:before {
    content: "\f00c";
    display: inline;
    font-family: FontAwesome;
    color: #468847;
}

/** Crop IMG Plugin **/
.component {position: relative; background: url(../img/gridme.png) repeat center center;padding: 4em;overflow: hidden;margin: 0 auto; width:100%;}
.crop-tip-hint{margin-bottom:0; text-align:center;}
.component.loading>div{display:none;}
.btn-group-crop{display:block; position:absolute; top:5px; left:10px;}
.resize-container {position: relative; display: inline-block;cursor: move;margin: 0 auto;}
.resize-container img {display: block}
.resize-container img{outline: 2px dashed rgba(60,60,222,.9);}
.resize-container:hover img,
.resize-container:active img {outline: 2px dashed rgba(222,60,80,.9);}
.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {position: absolute;display: block;width: 10px;height: 10px;background: rgba(222,60,80,.9);z-index: 999;}
.resize-handle-nw {top: -5px; left: -5px;cursor: nw-resize;}
.resize-handle-sw {bottom: -5px;left: -5px; cursor: sw-resize;}
.resize-handle-ne {top: -5px;right: -5px; cursor: ne-resize;}
.resize-handle-se {bottom: -5px;right: -5px;cursor: se-resize;}
.overlay {position: absolute;left: 50%;top: 50%;z-index: 999;border: solid 2px rgba(222,60,80,.9);box-sizing: content-box;pointer-events: none;}
.overlay-inner:before {left: 0;margin-left: -40px;margin-top: -2px;}
.overlay-inner:after{right: 0;margin-right: -40px;margin-top: -2px;}
.btn-crop {position: relative;padding: 6px 10px;z-index: 999;background-color: rgb(222,60,80);border: none;border-radius: 2px;color: #FFF;}

img {
    cursor: pointer;
}

.deal-upload-image {
    width: 310px;
    height: 310px;
    cursor: pointer;
}
.myErrorClass {
    color: #a94442;
}
.select2-result-repository__title {
    font-weight: 700;
}
.select2-result-repository__description {
    font-style: italic;
}
.select2-container-multi .select2-choices .select2-search-field input{
    margin: 0;
    padding: 4px 12px;
}
.select2-container-multi .select2-choices .select2-search-choice {
    line-height: 21px;
    font-size: 16px;
}
.select2-container-multi .select2-search-choice-close {
    padding-top: 4px;
}
.input-group-addon .fa-customize {
    font-size: 18px;
    margin: 0 2px;
}
.list-duplicate {
    max-height: 100px;
    overflow-y: auto;
}
.input-checking {
    background: #fff url(../img/select2-spinner.gif) no-repeat 100%!important;
}
.dropdown-menu .checkbox{
    margin-top: 5px;
    margin-bottom: 5px;
}

.icon-state{
    width: 10px; height: 10px; border-radius: 50%;
    content: '\0020';
    display: inline-block;
}
.icon-running{
    background-color: #008000;
    box-shadow: 0 0 8px #008000;
}
.icon-stopping{
    box-shadow: 0 0 8px red;
    background-color: red;
}

.dataTable .even{
    background-color: #f5f5f5 !important;
}
.dataTable .odd{
    background-color: #fff !important;
}

.status.pending { color: #008000 }
.status.published { color: #0000ff }
.status.trash { color: red}

.editCommentItem label.title-group{
    width: 100px;
}
textarea{
    resize: vertical;
}

@media (min-width: 768px){
    .modal-xl {
        width: 90%;
        max-width: 1200px;
    }
}

.col-comment-search, .col-member-search{display: inline-block}
#table-list-comment_filter, #table-list-members_filter{display: inline-block !important; width: auto !important;}
.font-bold {
    font-weight: bold;
}
.highlight{padding:9px 14px;margin-bottom:14px;background-color:#f7f7f9;border:1px solid #e1e1e8;border-radius:4px}
.cke_dialog_ui_file {
    height: auto !important;
}
.cke_dialog_ui_file .cke_dialog_ui_input_file {
    height: auto !important;
}
.component{height: 450px;}
.padding-right-28 {
    padding-right: 28px;
}
.text-bold {
    font-weight: bold;
}
.margin-top-15 {
    margin-top: 15px !important;
}
.margin-top-20 {
    margin-top: 20px !important;
}
.table-invoices a.btn {
    padding: 2px 9px !important;
}
.table-invoices input.form-control {
    height: 26px;
}
.item-wrapper a{
    display: inline !important;
}

.item-wrapper{
    display: inline;
    position: relative;
}

.item-wrapper form {
    position: absolute;
    top: -53px;
    background: #FFF;
    border: 1px solid #AAA;
    border-radius: 5px;
    padding: 7px;
    width: 220px;
    display: inline-block;
    left: 50%;
    margin-left: -110px;
    z-index: 101;
}

.item-wrapper form:before{
    content:"";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #AAA;
    position:absolute;
    bottom:-10px;
    left:100px;
}

.item-wrapper form:after{
    content:"";
    width:0;
    height:0;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-top: 9px solid #FFF;
    position:absolute;
    bottom:-9px;
    left:101px;
}

.td-money .editable-input{
    width:114px !important;
}
.dropdown-menu > li {
    white-space: nowrap;
}
.checkbox-column {
    width: 14px;
    text-align: center;
}

.checkbox-column .checkbox {
    padding-left: 0 !important;
}

.text-strike {
    text-decoration: line-through;
}

.form-control, .smart-form .checkbox, .smart-form .radio{
    font-size: 17px !important;
}
.dropdown-menu a.btn-link:hover{
    text-decoration: underline;
}
.select2-hidden-accessible {
    display: none;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}
.table-hover>tbody>tr:hover {
    background-color: #eee;
}
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/* define your limiting container */
.marquee {
    width: 100%;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}

/* this is the tray moving around your container */
.marquee div {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 20s linear infinite; /* here you select the animation */
}
.marquee div span{
    margin-right: 25px;
}
/* pause the animation on mouse over */
.marquee div:hover {
    animation-play-state: paused
}
.btn-timekeeping {
    padding: 2px 6px;
}
.timekeeping-not-work:hover {
    color: #a94442;
}
.timekeeping-worked:hover {
    color: #3c763d;
}
.salary-debt-right {
    text-align: right;
}
.salary-debt-right i{
    right: 0;
    left: auto !important;
}
.salary-debt-right label{
    padding-right: 25px;
}
.html2canvasreset{
    overflow: visible !important;
    width: 100% !important;
    height: 100% !important;
    max-height: 100% !important;
}
.export-elements {
    display: none;
}
.carousel-caption {
    color: #686868;
}
.carousel-inner>.item>img {
    margin: auto;
}
textarea {
    resize: vertical;
}
span.error {
    font-size: 11px;
    color: #E6674A
}
legend a {
    color: inherit;
}

legend.legendStyle {
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 0;
    background-color: transparent;
    font-weight: bold;
    width: auto;
    border-bottom: 0;
}

fieldset.fsStyle {
    border: 1px solid #999999;
    padding: 10px;
    margin: 5px;
}
.hidden-over {
    overflow: hidden;
}