<div class="modal fade" id="modal-add-domain" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-domain" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-add-domain">{{currentDomain.addMode ? 'Thêm mới' : 'Sửa thông tin'}} tên miền</h4>

            </div>
            <div class="modal-body">
                <form class="addDomainForm form-validator" name='addDomainForm' autocomplete="off">
                    <div class="form-group">
                        <label class="control-label">Tên miền <span class="symbol required"></span></label>
                        <input type="text" placeholder="Name" name='name' class="form-control required"
                               ng-model="currentDomain.name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Url </label>
                        <input type="text" placeholder="url" name='url' class="form-control url"
                               ng-model="currentDomain.url">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả </label>
                        <textarea placeholder="Mô tả" name='description' class="form-control"
                                  ng-model="currentDomain.description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số quán net tối đa </label>
                        <input type="number" name='limit_stores' class="form-control"
                               ng-model="currentDomain.limit_stores">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select name="status" ng-model='currentDomain.status' class="form-control" >
                            <option value="1" ng-selected="currentDomain.status == 1">Hoạt động</option>
                            <option value="0" ng-selected="currentDomain.status == 0">Không hoạt động</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="!currentDomain.addMode && currentDomain.created_at">
                        <label class="control-label">Ngày tạo </label>
                        <label class="control-label"><i>
                            {{currentDomain.created_at | amDateFormat:'DD/MM/YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveDomain()">
                    {{currentDomain.addMode ? 'Thêm' : 'Lưu'}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control"  placeholder="Tên miền" type="text"
                       ng-model="domainsList.domainSearchValue" ng-change='filterDomain()'>
            </div>
        </div>
        <div class="col-sm-6 text-right form-group">
            <button class="btn btn-success" ng-click="addDomain()" ng-if='userLogin.user_type == 3'>
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Thêm</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a ng-click="columnsShown.description = !columnsShown.description;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.description">
                                Mô tả </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.limit_stores = !columnsShown.limit_stores;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.limit_stores">
                                Số quán net tối đa </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.created_at = !columnsShown.created_at;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.created_at">
                                Ngày tạo </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-click="sortDomain('domains.name');"
                class="sorting{{domainsList.orderBy === 'domains.name' ? ' sorting_' + domainsList.orderDir : ''}}">Tên miền</th>
            <th ng-click="sortDomain('domains.description');" ng-show="columnsShown.description"
                class="sorting{{domainsList.orderBy === 'domains.description' ? ' sorting_' + domainsList.orderDir : ''}}">Mô tả</th>
            <th ng-click="sortDomain('domains.limit_stores');" ng-show="columnsShown.limit_stores"
                class="sorting{{domainsList.orderBy === 'domains.limit_stores' ? ' sorting_' + domainsList.orderDir : ''}}">Tối đa</th>
            <th ng-click="sortDomain('domains.created_at');" ng-show="columnsShown.created_at"
                class="sorting{{domainsList.orderBy === 'domains.created_at' ? ' sorting_' + domainsList.orderDir : ''}}">Ngày tạo</th>
            <th ng-click="sortCategory('domains.status');"
                class="sorting{{domainsList.orderBy === 'domains.status' ? ' sorting_' + domainsList.orderDir : ''}}">
                Trạng thái
            </th>
            <th style="min-width: 50px;" ng-if='userLogin.user_type > 1'></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="domainsList.data.length == 0">
            <td valign="top" colspan="10" class="dataTables_empty">Không tìm thấy</td>
        </tr>
        <tr ng-repeat="(index, Domain) in domainsList.data">
            <td>
                {{index + 1 + (domainsList.currentPage-1)*10}}
            </td>
            <td>{{Domain.name}}</td>
            <td ng-show="columnsShown.description">{{Domain.description}}</td>
            <td ng-show="columnsShown.limit_stores">{{Domain.limit_stores}}</td>
            <td ng-show="columnsShown.created_at">{{Domain.created_at | amDateFormat:'DD/MM/YYYY'}}</td>
            <td>
                <a href="" buttons="no" ng-if='(userLogin.user_type > 1 && userLogin.domain_id == Domain.id) || userLogin.user_type == 3'
                   editable-select="Domain.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Domain.id, $data)"
                   ng-class="{'text-success': Domain.status == '1','text-danger': Domain.status == '0'}">
                {{(selectStatus | filter:{value: Domain.status})[0].text || 'Not set' }}
                </a>
                <a href="" ng-if='userLogin.user_type <= 1 && userLogin.domain_id != Domain.id'
                   ng-class="{'text-success': Domain.status == '1','text-danger': Domain.status == '0'}">
                    {{(selectStatus | filter:{value: Domain.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td ng-if='userLogin.user_type > 1'>
                <a href="" ng-if='(userLogin.user_type > 1 && userLogin.domain_id == Domain.id) || userLogin.user_type == 3' ng-click="editDomain(index, Domain)"><i class="fa fa-pencil fa-fw"></i></a>
                <a href="" ng-if='userLogin.user_type == 3' class="text-danger delete-row" delete-id="{{Domain.id}}"><i class="fa fa-trash fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="domainsList.data.length > 0">
            <td colspan="10" class="text-center">
                <paging
                        page="domainsList.currentPage"
                        page-size="domainsList.itemsPerPage"
                        total="domainsList.totalDomains"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageDomain(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
