<div class="modal fade" id="modal-add-store" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-store" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-add-store">{{currentStore.addMode ? 'Thêm mới' : 'Sửa thông tin'}} cửa hàng</h4>

            </div>
            <div class="modal-body">
                <form class="addStoreForm form-validator" name='addStoreForm' autocomplete="off">
                    <div class="form-group">
                        <label class="control-label">Tên cửa hàng <span class="symbol required"></span></label>
                        <input type="text" placeholder="Name" name='name' class="form-control required"
                               ng-model="currentStore.name">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mã cửa hàng <span class="symbol required"></span></label>
                        <input type="text" placeholder="Gồm 3 chữ cái" name='store_code' maxlength="3" class="form-control required store-code" ng-change="uppercaseStoreCode()"
                               ng-model="currentStore.store_code" ng-blur="checkDuplicateCode()">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                        <div class="alert alert-warning margin-top-10" role="alert"
                             ng-if="currentStore.storeCodeExists">
                            <div style="margin: auto"><strong>Mã cửa hàng này đã được dùng:</strong>
                            </div>
                            <div class="list-duplicate">
                                <div ng-repeat="s in currentStore.storesDuplicate">
                                    <span>
                                        <b>{{s.name}}</b> | {{s.address}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tên miền <span class="symbol required"></span></label>
                        <input type="text" class="store-select-domain required"
                               style="width:100%;display: block"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">ID cửa hàng <span class="symbol required"></span></label>
                        <input type="number" placeholder="Client ID" name='client_id' class="form-control required"
                               ng-model="currentStore.client_id">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Địa chỉ </label>
                        <input type="text" placeholder="Address" name='address' class="form-control"
                               ng-model="currentStore.address">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Điện thoại cố định</label>
                        <input type="text" placeholder="Phone" name='phone' class="form-control"
                               ng-model="currentStore.phone_work">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Điện thoại di động</label>
                        <input type="text" placeholder="Phone" name='phone' class="form-control"
                               ng-model="currentStore.phone_mobile">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Ngày bắt đầu dùng</label>
                                <div class="input-group">
                                    <input type="text" ng-model="currentStore.start_actived" class="form-control store-date-picker" id="store-start-work">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Ngày hết hạn dùng</label>
                                <div class="input-group">
                                    <input type="text" ng-model="currentStore.expire_date" class="form-control store-date-picker" id="store-expire-work">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Fax</label>
                        <input type="text" placeholder="Fax" name='fax' class="form-control"
                               ng-model="currentStore.fax">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group avatar-image">
                        <label class="control-label" style="display: block">Logo </label>
                        <img src="{{currentStore.logo}}" id="avatar-image" class="upload-image img-thumbnail img-responsive"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Website </label>
                        <input type="text" name='website' class="form-control url" placeholder="http://example.com"
                               ng-model="currentStore.website">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả </label>
                        <input type="text" name='description' class="form-control"
                               ng-model="currentStore.description">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mã số thuế </label>
                        <input type="text" name='tax' class="form-control"
                               ng-model="currentStore.tax">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select name="status" ng-model='currentStore.status' class="form-control" >
                            <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.coupon_type && !$parent.userPermission.coupons[0].update.columns.coupon_type">-->
                            <option value="1" ng-selected="currentStore.status == 1">Hoạt động</option>
                            <option value="0" ng-selected="currentStore.status == 0">Không hoạt động</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="!currentStore.addMode && currentStore.created_at">
                        <label class="control-label">Ngày tạo </label>
                        <label class="control-label"><i>
                            {{currentStore.created_at | amDateFormat:'DD/MM/YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveStore()">
                    {{currentStore.addMode ? 'Thêm' : 'Lưu'}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control"  placeholder="Tên cửa hàng" type="text"
                       ng-model="storesList.storeSearchValue" ng-change='filterStore()'>
            </div>
        </div>
        <div class="col-sm-6 text-right form-group">
            <button class="btn btn-success" ng-click="addStore()" ng-if='userLogin.user_type == 3'>
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Thêm</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a ng-click="columnsShown.domain_name = !columnsShown.domain_name;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.domain_name" >
                                    Tên miền </label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ng-click="columnsShown.phone_work = !columnsShown.phone_work;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.phone_work" >
                                    ĐT cố định </label>
                            </div>
                        </a>
                    </li>
                    <li><a ng-click="columnsShown.phone_mobile = !columnsShown.phone_mobile;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.phone_mobile" >
                                ĐT di động </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.address = !columnsShown.address;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.address">
                                Địa chỉ </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.start_actived = !columnsShown.start_actived;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.start_actived">
                                Bắt đầu dùng </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.expire_date = !columnsShown.expire_date;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.expire_date">
                                Hạn dùng </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.description = !columnsShown.description;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.description">
                                Mô tả </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-click="sortStore('stores.store_code');"
                class="sorting{{storesList.orderBy === 'stores.store_code' ? ' sorting_' + storesList.orderDir : ''}}">Mã CH</th>
            <th ng-click="sortStore('stores.name');"
                class="sorting{{storesList.orderBy === 'stores.name' ? ' sorting_' + storesList.orderDir : ''}}">Tên cửa hàng</th>
            <th ng-click="sortStore('stores.domain_name');" ng-show="columnsShown.domain_name"
                class="sorting{{storesList.orderBy === 'stores.domain_name' ? ' sorting_' + storesList.orderDir : ''}}">Tên miền</th>
            <th ng-click="sortStore('stores.phone_work');" ng-show="columnsShown.phone_work"
                class="sorting{{storesList.orderBy === 'stores.phone_work' ? ' sorting_' + storesList.orderDir : ''}}">ĐT cố định</th>
            <th ng-click="sortStore('stores.phone_mobile');" ng-show="columnsShown.phone_mobile"
                class="sorting{{storesList.orderBy === 'stores.phone_mobile' ? ' sorting_' + storesList.orderDir : ''}}">ĐT di động</th>
            <th ng-click="sortStore('stores.address');" ng-show="columnsShown.address"
                class="sorting{{storesList.orderBy === 'stores.address' ? ' sorting_' + storesList.orderDir : ''}}">Địa chỉ</th>
            <th ng-click="sortStore('stores.start_actived');" ng-show="columnsShown.start_actived"
                class="sorting{{storesList.orderBy === 'stores.start_actived' ? ' sorting_' + storesList.orderDir : ''}}">Bắt đầu dùng</th>
            <th ng-click="sortStore('stores.expire_date');" ng-show="columnsShown.expire_date"
                class="sorting{{storesList.orderBy === 'stores.expire_date' ? ' sorting_' + storesList.orderDir : ''}}">Hạn dùng</th>
            <th>Còn lại (ngày)</th>
            <th ng-click="sortStore('stores.description');" ng-show="columnsShown.description"
                class="sorting{{storesList.orderBy === 'stores.description' ? ' sorting_' + storesList.orderDir : ''}}">Mô tả</th>
            <th ng-click="sortCategory('stores.status');"
                class="sorting{{storesList.orderBy === 'stores.status' ? ' sorting_' + storesList.orderDir : ''}}">
                Trạng thái
            </th>
            <th style="min-width: 50px;" ng-if='userLogin.user_type > 1'></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="storesList.data.length == 0">
            <td valign="top" colspan="10" class="dataTables_empty">Không tìm thấy</td>
        </tr>
        <tr ng-repeat="(index, Store) in storesList.data" class="{{((Store.expire_date | amDifference : currentDate : 'days') < 10) ? 'text-danger' : ''}}">
            <td>
                {{index + 1 + (storesList.currentPage-1)*10}}
            </td>
            <td>{{Store.store_code}}</td>
            <td>{{Store.name}}</td>
            <td ng-show="columnsShown.domain_name">{{Store.domain_name}}</td>
            <td ng-show="columnsShown.phone_work">{{Store.phone_work}}</td>
            <td ng-show="columnsShown.phone_mobile">{{Store.phone_mobile}}</td>
            <td ng-show="columnsShown.address">{{Store.address}}</td>
            <td ng-show="columnsShown.start_actived">{{Store.start_actived | amDateFormat:'DD/MM/YYYY'}}</td>
            <td ng-show="columnsShown.expire_date">{{Store.expire_date | amDateFormat:'DD/MM/YYYY'}}</td>
            <td>{{ Store.expire_date | amDifference : currentDate : 'days' }}</td>
            <td ng-show="columnsShown.description">{{Store.description}}</td>
            <td>
                <a href="" buttons="no" ng-if='(userLogin.user_type > 1 && userLogin.store_id == Store.id) || userLogin.user_type == 3'
                   editable-select="Store.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Store.id, $data)"
                   ng-class="{'text-success': Store.status == '1','text-danger': Store.status == '0'}">
                {{(selectStatus | filter:{value: Store.status})[0].text || 'Not set' }}
                </a>
                <a href="" ng-if='userLogin.user_type <= 1 && userLogin.store_id != Store.id'
                   ng-class="{'text-success': Store.status == '1','text-danger': Store.status == '0'}">
                    {{(selectStatus | filter:{value: Store.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td ng-if='userLogin.user_type > 1'>
                <a href="" ng-if='(userLogin.user_type > 1 && userLogin.store_id == Store.id) || userLogin.user_type == 3' ng-click="editStore(index, Store)"><i class="fa fa-pencil fa-fw"></i></a>
                <a href="" ng-if='userLogin.user_type == 3' class="text-danger delete-row" delete-id="{{Store.id}}"><i class="fa fa-trash fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="storesList.data.length > 0">
            <td colspan="10" class="text-center">
                <paging
                        page="storesList.currentPage"
                        page-size="storesList.itemsPerPage"
                        total="storesList.totalStores"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageStore(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
