<div class="modal fade" id="modal-add-salaryc" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-salaryc" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-add-salaryc">{{currentSalaryc.addMode ? 'Thêm mới' : 'Sửa thông tin'}} mức lương</h4>

            </div>
            <div class="modal-body">
                <form class="addSalarycForm form-validator" name='addSalarycForm' autocomplete="off">
                    <div class="form-group">
                        <label class="control-label">Tên <span class="symbol required"></span></label>
                        <input type="text" placeholder="Name" name='name' class="form-control required"
                               ng-model="currentSalaryc.name">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả <span class="symbol required"></span></label>
                        <input type="text" placeholder="Description" name='description' class="form-control required"
                               ng-model="currentSalaryc.description">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Kiểu trả lương</label>
                        <select name="salary_type" id="salary_type" ng-model='currentSalaryc.salary_type'
                                class="form-control">
                            <option value="1" ng-selected="currentSalaryc.salary_type == 1">Theo Ca</option>
                            <option value="2" ng-selected="currentSalaryc.salary_type == 2">Theo Tháng</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Lương{{currentSalaryc.salary_type == 1 ? '/ca' : '/tháng'}}</label>
                        <input type="text" placeholder="Lương" name='daily_salary' class="form-control"
                               ng-model="currentSalaryc.daily_salary" cr-numeric ng-show="currentSalaryc.salary_type == 1">
                        <input type="text" placeholder="Lương" name='monthly_salary' class="form-control"
                               ng-model="currentSalaryc.monthly_salary" cr-numeric ng-show="currentSalaryc.salary_type == 2">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Phụ cấp</label>
                        <input type="text" name='allowance' class="form-control"
                               ng-model="currentSalaryc.allowance" cr-numeric>
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Khấu trừ lương</label>
                        <input type="text" name='deduction' class="form-control"
                               ng-model="currentSalaryc.deduction" cr-numeric>
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <div class="smart-form">
                            <label class="checkbox">
                                <input type="checkbox" name="is_pay_debt" ng-model="currentSalaryc.is_pay_debt">
                                <i></i>Bao gồm trả nợ</label>
                        </div>
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select name="coupon_type" ng-model='currentSalaryc.status' class="form-control" >
                            <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.coupon_type && !$parent.userPermission.coupons[0].update.columns.coupon_type">-->
                            <option value="1" ng-selected="currentSalaryc.status == 1">Hoạt động</option>
                            <option value="0" ng-selected="currentSalaryc.status == 0">Không hoạt động</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="!currentSalaryc.addMode && currentSalaryc.created_at">
                        <label class="control-label">Ngày tạo </label>
                        <label class="control-label"><i>
                            {{currentSalaryc.created_at | amDateFormat:'DD/MM/YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                    <div class="form-group" ng-show="!currentSalaryc.addMode && currentSalaryc.created_by">
                        <label class="control-label">Người tạo</label>
                        <label class="control-label"><b>
                            {{currentSalaryc.author.fullname}}</b>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveSalaryc()">
                    {{currentSalaryc.addMode ? 'Thêm' : 'Lưu'}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control"  placeholder="Tên" type="text"
                       ng-model="salarycList.salarycSearchValue" ng-change='filterSalaryc()'>
            </div>
        </div>
        <div class="col-sm-6 text-right form-group">
            <button class="btn btn-success" ng-click="addSalaryc()" ng-if='userLogin.user_type > 1'>
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Thêm</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a ng-click="columnsShown.salary_type = !columnsShown.salary_type;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.salary_type" >
                                    Kiểu trả lương </label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ng-click="columnsShown.description = !columnsShown.description;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.description" >
                                    Mô tả </label>
                            </div>
                        </a>
                    </li>
                    <li><a ng-click="columnsShown.allowance = !columnsShown.allowance;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.allowance" >
                                Phụ cấp </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-click="sortSalaryc('s.name');"
                class="sorting{{salarycList.orderBy === 's.name' ? ' sorting_' + salarycList.orderDir : ''}}">Tên</th>
            <th ng-click="sortSalaryc('s.salary_type');" ng-show="columnsShown.salary_type"
                class="sorting{{salarycList.orderBy === 's.salary_type' ? ' sorting_' + salarycList.orderDir : ''}}">Kiểu trả lương</th>
            <th>Lương</th>
            <th ng-show="columnsShown.allowance">Phụ cấp</th>
            <th ng-click="sortCategory('s.status');"
                class="sorting{{salarycList.orderBy === 's.status' ? ' sorting_' + salarycList.orderDir : ''}}">
                Trạng thái
            </th>
            <th style="min-width: 50px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="salarycList.data.length == 0">
            <td valign="top" colspan="20" class="dataTables_empty">Không tìm thấy</td>
        </tr>
        <tr ng-repeat="(index, Salaryc) in salarycList.data">
            <td>
                {{index + 1 + (salarycList.currentPage-1)*10}}
            </td>
            <td>{{Salaryc.name}}</td>
            <td ng-show="columnsShown.salary_type">{{Salaryc.salary_type == 1 ? 'Theo Ca':'Theo Tháng'}}</td>
            <td class="text-right">{{Salaryc.salary_type == 1 ? (Salaryc.daily_salary | number) : (Salaryc.monthly_salary | number)}}</td>
            <td ng-show="columnsShown.allowance" class="text-right">{{Salaryc.allowance | number}}</td>
            <td><a href="" buttons="no" ng-if='userLogin.user_type > 1'
                   editable-select="Salaryc.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Salaryc.id, $data)"
                   ng-class="{'text-success': Salaryc.status == '1','text-danger': Salaryc.status == '0'}">
                {{(selectStatus | filter:{value: Salaryc.status})[0].text || 'Not set' }}
            </a>
                <a href="" ng-if='userLogin.user_type <= 1'
                   ng-class="{'text-success': Salaryc.status == '1','text-danger': Salaryc.status == '0'}">
                    {{(selectStatus | filter:{value: Salaryc.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td>
                <a href="" ng-click="editSalaryc(index, Salaryc)" ng-if='userLogin.user_type > 1'><i class="fa fa-pencil fa-lg fa-fw"></i></a>
                <a href="" class="text-danger delete-row" delete-id="{{Salaryc.id}}" ng-if='userLogin.user_type > 1'><i class="fa fa-trash fa-lg fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="salarycList.data.length > 0">
            <td colspan="20" class="text-center">
                <paging
                        page="salarycList.currentPage"
                        page-size="salarycList.itemsPerPage"
                        total="salarycList.totalSalaryc"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageSalaryc(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>

<div class="modal fade" id="modal-salary-calendar" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-reset-staff" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-reset-staff">Thay đổi thông tin nhân viên</h4>

            </div>
            <div class="modal-body">
                <div id="calendar"></div>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveResetStaff()">
                    {{'Thay đổi'}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="event-management" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-reset-staff" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" >Thay đổi thông tin nhân viên</h4>

            </div>
            <div class="modal-body">
                <form><div class="row"><div class="col-md-6"><div class="form-group"><label class="control-label">New Event Name</label><input class="form-control" placeholder="Insert Event Name" type="text" name="title"></div></div><div class="col-md-6"><div class="form-group"><label class="control-label">Category</label><select class="form-control" name="category"><option value="label-default">Work</option><option value="label-green">Home</option><option value="label-purple">Holidays</option><option value="label-orange">Party</option><option value="label-yellow">Birthday</option><option value="label-teal">Generic</option><option value="label-beige">To Do</option></select></div></div></div></form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveResetStaff()">
                    {{'Thay đổi'}}
                </a>
            </div>
        </div>
    </div>
</div>