<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Hướng dẫn sử dụng']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div ng-controller="indexCtrl" id="index-ctrl">
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-sm-12 relative-box tables_wrapper customer-article">
                    <div jarvis-widget data-auto-height="true" data-widget-colorbutton="true" data-widget-color="greenDark" data-widget-editbutton="false" data-widget-deletebutton="false">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Hướng dẫn sử dụng</h2>
                        </header>
                        <div>
                            <!-- widget content -->
                            <div class="widget-body">
                                <div class="col-sm-6 margin-bottom-10">
                                    <div class="margin-bottom-10 embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EjLW2xMblPA" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <p class="text-center">Giới thiệu các chức năng cơ bản</p>
                                </div>
                                <div class="col-sm-6 margin-bottom-10">
                                    <div class="embed-responsive embed-responsive-16by9 margin-bottom-10">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Y3HGrJ6jUng" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <p class="text-center">Các thao tác trong ca làm việc</p>
                                </div>
                                <div class="col-sm-6 margin-bottom-10">
                                    <div class="embed-responsive embed-responsive-16by9 margin-bottom-10">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/18evrspSyvk" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <p class="text-center">Các bước để giao ca</p>
                                </div>
                                <div class="col-sm-6 margin-bottom-10">
                                    <div class="embed-responsive embed-responsive-16by9 margin-bottom-10">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6RQCQ90SNmw" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                    <p class="text-center">Các bước trả lương cho nhân viên</p>
                                </div>
                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="changeImageModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="component">
                <div class="overlay">
                    <div class="overlay-inner"></div>
                </div>
                <div class="btn-group-crop">
                    <button type="button" class="btn-crop" data-dismiss="modal">Cancel & Close</button>
                    <button type="button" class="btn-crop js-crop"><i class="fa fa-crop"></i> Crop & Save</button>
                    <button type="button" class="btn-crop" id="clockwise"><i class="fa fa-repeat"></i></button>
                    <button type="button" class="btn-crop" id="counterclockwise"><i class="fa fa-undo"></i></button>
                </div>
                <img class="resize-image" src="styles/img/loader.gif" alt="Crop image area" />
            </div>
            <div class="modal-footer">
                <div class="alert alert-info crop-tip-hint"></div>
            </div>
        </div>
    </div>
</div>