<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Thống kê']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div ng-controller="IndexCtrl" id="index-ctrl">
    </div>
</div>