<div class="modal fade" id="modal-add-customer" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-customer" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-add-customer">{{currentCustomer.addMode ? 'Thêm mới' : 'Sửa thông tin'}} khách hàng</h4>

            </div>
            <div class="modal-body">
                <form class="addCustomerForm form-validator" name='addCustomerForm' novalidate>
                    <div class="form-group">
                        <label class="control-label">Tài khoản <span class="symbol required"></span></label>
                        <input type="text" placeholder="Username" name='username' class="form-control required"
                               ng-model="currentCustomer.username" ng-change="uppercaseUsername();generateFullname()">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Họ tên <span class="symbol required"></span></label>
                        <input type="text" placeholder="Name" name='name' class="form-control required"
                               ng-model="currentCustomer.fullname">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số điện thoại</label>
                        <input type="text" placeholder="Phone" name='phone' class="form-control"
                               ng-model="currentCustomer.phone">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Địa chỉ </label>
                        <input type="text" placeholder="Address" name='address' class="form-control"
                               ng-model="currentCustomer.address">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group avatar-image">
                        <label class="control-label" style="display: block">Ảnh đại diện </label>
                        <img src="{{currentCustomer.avatar}}" id="avatar-image" class="upload-image img-thumbnail img-responsive"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email </label>
                        <input type="text" placeholder="e-mail" name='email' class="form-control email"
                               ng-model="currentCustomer.email">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Giới tính</label>
                        <select name="coupon_type" ng-model='currentCustomer.gender' class="form-control" >
                                <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.coupon_type && !$parent.userPermission.coupons[0].update.columns.coupon_type">-->
                            <option value="0" ng-selected="currentCustomer.gender == 0">Nữ</option>
                            <option value="1" ng-selected="currentCustomer.gender == 1">Nam</option>
                            <option value="2" ng-selected="currentCustomer.gender == 2">Khác</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ngày sinh</label>
                        <div class="input-group">
                            <input type="text" ng-model="currentCustomer.birthday" class="form-control datetimepicker birthday" id="customer-birthday-date">
                                   <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.expire_date && !$parent.userPermission.coupons[0].update.columns.expire_date">-->
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Chứng minh thư </label>
                        <input type="text" placeholder="CMND" name='identity_card' class="form-control"
                               ng-model="currentCustomer.identity_card">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select name="coupon_type" ng-model='currentCustomer.status' class="form-control" >
                            <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.coupon_type && !$parent.userPermission.coupons[0].update.columns.coupon_type">-->
                            <option value="1" ng-selected="currentCustomer.status == 1">Hoạt động</option>
                            <option value="0" ng-selected="currentCustomer.status == 0">Không hoạt động</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="!currentCustomer.addMode && currentCustomer.created_at">
                        <label class="control-label">Ngày tạo </label>
                        <label class="control-label"><i>
                            {{currentCustomer.created_at | amDateFormat:'DD/MM/YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                    <div class="form-group" ng-show="!currentCustomer.addMode && currentCustomer.created_by">
                        <label class="control-label">Người tạo</label>
                        <label class="control-label"><b>
                            {{currentCustomer.author.fullname}}</b>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveCustomer()">
                    {{currentCustomer.addMode ? 'Thêm' : 'Lưu'}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control"  placeholder="Họ tên, số điện thoại, email" type="text"
                       ng-model="customersList.customerSearchValue" ng-change='filterCustomer()'>
            </div>
        </div>
        <div class="col-sm-6 text-right form-group">
            <button class="btn btn-success" ng-click="addCustomer()">
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Thêm</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a ng-click="columnsShown.avatar = !columnsShown.avatar;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.avatar" >
                                    Ảnh đại diện </label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ng-click="columnsShown.fullname = !columnsShown.fullname;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.fullname" >
                                    Họ tên </label>
                            </div>
                        </a>
                    </li>
                    <li><a ng-click="columnsShown.firstname = !columnsShown.firstname;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.firstname" >
                                Họ </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.phone = !columnsShown.phone;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.phone">
                                Số điện thoại </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.email = !columnsShown.email;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.email">
                                Email </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.address = !columnsShown.address;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.address" >
                                Địa chỉ </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.birthday = !columnsShown.birthday;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.birthday" >
                                Ngày sinh </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.identity_card = !columnsShown.identity_card;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.identity_card" >
                                CMND </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-show="columnsShown.avatar">Ảnh đại diện</th>
            <th ng-click="sortCustomer('customers.username');" ng-show="columnsShown.username"
                class="sorting{{customersList.orderBy === 'customers.username' ? ' sorting_' + customersList.orderDir : ''}}">Tài khoản</th>
            <th ng-click="sortCustomer('customers.fullname');" ng-show="columnsShown.fullname"
                class="sorting{{customersList.orderBy === 'customers.fullname' ? ' sorting_' + customersList.orderDir : ''}}">Họ tên</th>
            <th ng-click="sortCustomer('customers.firstname');" ng-show="columnsShown.firstname"
                class="sorting{{customersList.orderBy === 'customers.firstname' ? ' sorting_' + customersList.orderDir : ''}}">Họ</th>
            <th ng-click="sortCustomer('customers.lastname');"
                class="sorting{{customersList.orderBy === 'customers.lastname' ? ' sorting_' + customersList.orderDir : ''}}">Tên</th>
            <th ng-click="sortCustomer('customers.phone');" ng-show="columnsShown.phone"
                class="sorting {{customersList.orderBy === 'customers.phone' ? ' sorting_' + customersList.orderDir : ''}}">Số điện thoại</th>
            <th ng-click="sortCustomer('customers.email');" ng-show="columnsShown.email"
                class="sorting {{customersList.orderBy === 'customers.email' ? ' sorting_' + customersList.orderDir : ''}}">Email</th>
            <th ng-click="sortCustomer('customers.address');" ng-show="columnsShown.address"
                class="sorting {{customersList.orderBy === 'customers.address' ? ' sorting_' + customersList.orderDir : ''}}">Địa chỉ</th>
            <th ng-click="sortCustomer('customers.birthday');" ng-show="columnsShown.birthday"
                class="sorting {{customersList.orderBy === 'customers.birthday' ? ' sorting_' + customersList.orderDir : ''}}">Ngày sinh</th>
            <th ng-click="sortCustomer('customers.identity_card');" ng-show="columnsShown.identity_card"
                class="sorting {{customersList.orderBy === 'customers.identity_card' ? ' sorting_' + customersList.orderDir : ''}}">CMND</th>
            <th ng-click="sortCategory('customers.status');"
                class="sorting{{customersList.orderBy === 'customers.status' ? ' sorting_' + staffsList.orderDir : ''}}">
                Trạng thái
            </th>
            <th style="min-width: 50px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="customersList.data.length == 0">
            <td valign="top" colspan="20" class="dataTables_empty">Không tìm thấy</td>
        </tr>
        <tr ng-repeat="(index, Customer) in customersList.data">
            <td>
                {{index + 1 + (customersList.currentPage-1)*10}}
            </td>
            <td ng-show="columnsShown.avatar"><img ng-src="{{Customer.avatar}}" class="img-thumbnail img-responsive" style="width: 50px;height: 50px"/></td>
            <td ng-show="columnsShown.username">{{Customer.username}}</td>
            <td ng-show="columnsShown.fullname">{{Customer.fullname}}</td>
            <td ng-show="columnsShown.firstname">{{Customer.firstname}}</td>
            <td>{{Customer.lastname}}</td>
            <td ng-show="columnsShown.phone">{{Customer.phone}}</td>
            <td ng-show="columnsShown.email">{{Customer.email}}</td>
            <td ng-show="columnsShown.address">{{Customer.address}}</td>
            <td ng-show="columnsShown.birthday">{{Customer.birthday | amDateFormat:'DD/MM/YYYY'}}</td>
            <td ng-show="columnsShown.identity_card">{{Customer.identity_card}}</td>
            <td><a href="" buttons="no" ng-if='userLogin.user_type > 1'
                   editable-select="Customer.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Customer.id, $data)"
                   ng-class="{'text-success': Customer.status == '1','text-danger': Customer.status == '0'}">
                {{(selectStatus | filter:{value: Customer.status})[0].text || 'Not set' }}
            </a>
                <a href="" ng-if='userLogin.user_type <= 1'
                   ng-class="{'text-success': Customer.status == '1','text-danger': Customer.status == '0'}">
                    {{(selectStatus | filter:{value: Customer.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td>
                <a href="" ng-click="editCustomer(index, Customer)"><i class="fa fa-pencil fa-lg fa-fw"></i></a>
                <a href="" class="text-danger delete-row" delete-id="{{Customer.id}}" ng-if='userLogin.user_type > 1'><i class="fa fa-trash fa-lg fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="customersList.data.length > 0">
            <td colspan="20" class="text-center">
                <paging
                        page="customersList.currentPage"
                        page-size="customersList.itemsPerPage"
                        total="customersList.totalCustomers"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageCustomer(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
