<div class="modal fade" id="modal-add-staff" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-staff" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-add-staff">{{currentStaff.addMode ? 'Thêm mới' : 'Sửa thông tin'}} nhân viên</h4>

            </div>
            <div class="modal-body">
                <form class="addStaffForm form-validator" name='addStaffForm' autocomplete="off">
                    <input style="display:none" type="text" name="fakeusernameremembered"/>
                    <input style="display:none" type="password" name="fakepasswordremembered"/>
                    <div class="form-group">
                        <label class="control-label">Cửa hàng <span class="symbol required"></span></label>
                        <input type="text" class="staff-select-store required" ng-model='currentStaff.store_id'
                               style="width:100%;display: block"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Tài khoản <span class="symbol required"></span></label>
                        <input type="text" placeholder="Username" name='username' class="form-control required"
                               ng-model="currentStaff.username" ng-change="uppercaseUsername()">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Họ tên <span class="symbol required"></span></label>
                        <input type="text" placeholder="Name" name='name' class="form-control required"
                               ng-model="currentStaff.fullname">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Chức vụ</label>
                        <select name="user_type" id="user_type" ng-model='currentStaff.user_type'
                                class="form-control">
                            <option value="1" ng-selected="currentStaff.user_type == 1">Nhân viên</option>
                            <option value="2" ng-selected="currentStaff.user_type == 2">Quản lý</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ngày bắt đầu làm</label>
                        <div class="input-group">
                            <input type="text" ng-model="currentStaff.start_work" class="form-control" id="staff-start-work">
                            <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.expire_date && !$parent.userPermission.coupons[0].update.columns.expire_date">-->
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Số điện thoại</label>
                        <input type="text" placeholder="Phone" name='phone' class="form-control"
                               ng-model="currentStaff.phone">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Địa chỉ </label>
                        <input type="text" placeholder="Address" name='address' class="form-control"
                               ng-model="currentStaff.address">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group avatar-image">
                        <label class="control-label" style="display: block">Ảnh đại diện </label>
                        <img src="{{currentStaff.avatar}}" id="avatar-image" class="upload-image img-thumbnail img-responsive"/>
                    </div>
                    <div class="form-group{{currentStaff.emailExist ? ' has-error' : ''}}">
                        <label class="control-label">Email </label>
                        <input type="email" placeholder="e-mail" name='emailStaff' class="form-control email" autocomplete="off"
                               ng-model="currentStaff.email" ng-blur="checkEmailExist(currentStaff)">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                        <p class="text-danger" ng-show="currentStaff.emailExist">Tài khoản e-mail này đã được dùng</p>
                    </div>
                    <div class="form-group" ng-if="!currentStaff.id">
                        <label class="control-label">Mật khẩu </label>
                        <input type="password" placeholder="Password" name='passwordStaff' class="form-control" autocomplete="off"
                               ng-model="currentStaff.password">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Giới tính</label>
                        <select name="coupon_type" ng-model='currentStaff.gender' class="form-control" >
                                <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.coupon_type && !$parent.userPermission.coupons[0].update.columns.coupon_type">-->
                            <option value="0" ng-selected="currentStaff.gender == 0">Nữ</option>
                            <option value="1" ng-selected="currentStaff.gender == 1">Nam</option>
                            <option value="2" ng-selected="currentStaff.gender == 2">Khác</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ngày sinh</label>
                        <div class="input-group">
                            <input type="text" ng-model="currentStaff.birthday" class="form-control datetimepicker birthday" id="staff-birthday-date">
                                   <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.expire_date && !$parent.userPermission.coupons[0].update.columns.expire_date">-->
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Chứng minh thư </label>
                        <input type="text" placeholder="CMND" name='identity_card' class="form-control"
                               ng-model="currentStaff.identity_card">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select name="coupon_type" ng-model='currentStaff.status' class="form-control" >
                            <!--ng-disabled="$parent.currentCoupon.id && !$parent.userPermission.coupons[$parent.currentCoupon.store_id].update.columns.coupon_type && !$parent.userPermission.coupons[0].update.columns.coupon_type">-->
                            <option value="1" ng-selected="currentStaff.status == 1">Hoạt động</option>
                            <option value="0" ng-selected="currentStaff.status == 0">Không hoạt động</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="!currentStaff.addMode && currentStaff.created_at">
                        <label class="control-label">Ngày tạo </label>
                        <label class="control-label"><i>
                            {{currentStaff.created_at | amDateFormat:'DD/MM/YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                    <div class="form-group" ng-show="!currentStaff.addMode && currentStaff.created_by">
                        <label class="control-label">Người tạo</label>
                        <label class="control-label"><b>
                            {{currentStaff.author.fullname}}</b>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveStaff()">
                    {{currentStaff.addMode ? 'Thêm' : 'Lưu'}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-reset-staff" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-reset-staff" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-reset-staff">Thay đổi thông tin nhân viên</h4>

            </div>
            <div class="modal-body">
                <form class="resetStaffForm form-validator" name='resetStaffForm' autocomplete="off">
                    <input style="display:none" type="text" name="fakeusernameremembered"/>
                    <input style="display:none" type="password" name="fakepasswordremembered"/>
                    <div class="form-group{{resetStaff.emailExist ? ' has-error' : ''}}">
                        <label class="control-label">Email </label>
                        <input type="email" placeholder="e-mail" name='email' class="form-control email" autocomplete="off"
                               ng-model="resetStaff.email" ng-blur="checkEmailExist(resetStaff)">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                        <p class="text-danger" ng-show="resetStaff.emailExist">Tài khoản e-mail này đã được dùng</p>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mật khẩu mới</label>
                        <input type="password" placeholder="Password" id="new-password" name='password' class="form-control" autocomplete="off"
                               ng-model="resetStaff.password">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                    <div class="form-group">
                        <label class="control-label">Nhập lại mật khẩu</label>
                        <input type="password" placeholder="Password" name='password_confirmation' class="form-control" autocomplete="off">
                        <!--ng-disabled="currentEvent.id && !$parent.userPermission.events[currentEvent.id].update.columns.name && !$parent.userPermission.events[0].update.columns.name">-->
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveResetStaff()">
                    {{'Thay đổi'}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-4 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control"  placeholder="Họ tên, email" type="text"
                       ng-model="staffsList.staffSearchValue" ng-change='filterStaff()'>
            </div>
        </div>
        <div class="col-sm-4 form-group">
            <select ng-model="staffsList.filterByStatus" class="form-control" ng-change="filterStaff()">
                <option value="">Tất cả</option>
                <option value="1">Hoạt động</option>
                <option value="0">Không hoạt động</option>
            </select>
        </div>
        <div class="col-sm-4 text-right form-group">
            <button class="btn btn-success" ng-click="addStaff()" ng-if='userLogin.user_type > 1'>
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Thêm</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a ng-click="columnsShown.avatar = !columnsShown.avatar;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.avatar" >
                                    Ảnh đại diện </label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ng-click="columnsShown.fullname = !columnsShown.fullname;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.fullname" >
                                    Họ tên </label>
                            </div>
                        </a>
                    </li>
                    <li><a ng-click="columnsShown.firstname = !columnsShown.firstname;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.firstname" >
                                Họ </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.phone = !columnsShown.phone;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.phone">
                                Số điện thoại </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.email = !columnsShown.email;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.email">
                                Email </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.address = !columnsShown.address;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.address" >
                                Địa chỉ </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.birthday = !columnsShown.birthday;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.birthday" >
                                Ngày sinh </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.identity_card = !columnsShown.identity_card;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.identity_card" >
                                CMND </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-show="columnsShown.avatar">Ảnh đại diện</th>
            <th ng-click="sortStaff('staffs.fullname');" ng-show="columnsShown.fullname"
                class="sorting{{staffsList.orderBy === 'staffs.fullname' ? ' sorting_' + staffsList.orderDir : ''}}">Họ tên</th>
            <th ng-click="sortStaff('staffs.firstname');" ng-show="columnsShown.firstname"
                class="sorting{{staffsList.orderBy === 'staffs.firstname' ? ' sorting_' + staffsList.orderDir : ''}}">Họ</th>
            <th ng-click="sortStaff('staffs.lastname');"
                class="sorting{{staffsList.orderBy === 'staffs.lastname' ? ' sorting_' + staffsList.orderDir : ''}}">Tên</th>
            <th ng-click="sortStaff('staffs.phone');" ng-show="columnsShown.phone"
                class="sorting {{staffsList.orderBy === 'staffs.phone' ? ' sorting_' + staffsList.orderDir : ''}}">Số điện thoại</th>
            <th ng-click="sortStaff('staffs.start_work');" ng-show="columnsShown.email"
                class="sorting {{staffsList.orderBy === 'staffs.email' ? ' sorting_' + staffsList.orderDir : ''}}">Email</th>
            <th ng-click="sortStaff('staffs.start_work');"
                class="sorting{{staffsList.orderBy === 'staffs.start_work' ? ' sorting_' + staffsList.orderDir : ''}}">Ngày bắt đầu làm</th>
            <th ng-click="sortStaff('staffs.address');" ng-show="columnsShown.address"
                class="sorting {{staffsList.orderBy === 'staffs.address' ? ' sorting_' + staffsList.orderDir : ''}}">Địa chỉ</th>
            <th ng-click="sortStaff('staffs.birthday');" ng-show="columnsShown.birthday"
                class="sorting {{staffsList.orderBy === 'staffs.birthday' ? ' sorting_' + staffsList.orderDir : ''}}">Ngày sinh</th>
            <th ng-click="sortStaff('staffs.identity_card');" ng-show="columnsShown.identity_card"
                class="sorting {{staffsList.orderBy === 'staffs.identity_card' ? ' sorting_' + staffsList.orderDir : ''}}">CMND</th>
            <th ng-click="sortCategory('staffs.status');"
                class="sorting{{staffsList.orderBy === 'staffs.status' ? ' sorting_' + staffsList.orderDir : ''}}">
                Trạng thái
            </th>
            <th style="min-width: 50px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="staffsList.data.length == 0">
            <td valign="top" colspan="20" class="dataTables_empty">Không tìm thấy</td>
        </tr>
        <tr ng-repeat="(index, Staff) in staffsList.data">
            <td>
                {{index + 1 + (staffsList.currentPage-1)*10}}
            </td>
            <td ng-show="columnsShown.avatar"><img ng-src="{{Staff.avatar}}" class="img-thumbnail img-responsive" style="width: 50px;height: 50px"/></td>
            <td ng-show="columnsShown.fullname">{{Staff.fullname}}</td>
            <td ng-show="columnsShown.firstname">{{Staff.firstname}}</td>
            <td>{{Staff.lastname}}</td>
            <td ng-show="columnsShown.phone">{{Staff.phone}}</td>
            <td ng-show="columnsShown.email">{{Staff.email}}</td>
            <td>{{Staff.start_work | amDateFormat:'DD/MM/YYYY'}}</td>
            <td ng-show="columnsShown.address">{{Staff.address}}</td>
            <td ng-show="columnsShown.birthday">{{Staff.birthday | amDateFormat:'DD/MM/YYYY'}}</td>
            <td ng-show="columnsShown.identity_card">{{Staff.identity_card}}</td>
            <td><a href="" buttons="no" ng-if='userLogin.user_type > 1'
                   editable-select="Staff.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Staff.id, $data)"
                   ng-class="{'text-success': Staff.status == '1','text-danger': Staff.status == '0'}">
                {{(selectStatus | filter:{value: Staff.status})[0].text || 'Not set' }}
            </a>
                <a href="" ng-if='userLogin.user_type <= 1'
                   ng-class="{'text-success': Staff.status == '1','text-danger': Staff.status == '0'}">
                    {{(selectStatus | filter:{value: Staff.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td>
                <a href="" ng-click="editStaff(index, Staff)" ng-if='userLogin.user_type > 1'><i class="fa fa-pencil fa-lg fa-fw"></i></a>
                <a href="" ng-click="resetPassStaff(index, Staff)" ng-if='userLogin.user_type > 1'><i class="fa fa-refresh fa-lg fa-fw"></i></a>
                <a href="" class="text-danger delete-row" delete-id="{{Staff.id}}" ng-if='userLogin.user_type > 1 && userLogin.id != Staff.id'><i class="fa fa-trash fa-lg fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="staffsList.data.length > 0">
            <td colspan="20" class="text-center">
                <paging
                        page="staffsList.currentPage"
                        page-size="staffsList.itemsPerPage"
                        total="staffsList.totalStaffs"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageStaff(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
