<div class="modal fade" id="modal-add-booking" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-booking" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">{{(currentBooking.id) ? 'Update Booking' : 'Add New Booking'}}</h4>
                <div class="draft-warning" style="float: right;"
                     ng-show="savedBookingDraft && !currentBooking.id">
                    <a ng-click="loadBookingDraft()">Get last draft for your Booking</a>
                </div>
            </div>
            <div class="modal-body">
                <form class="addBookingForm" name='addBookingForm' novalidate>
                    <div class="form-group">
                        <label class="control-label">Hotel name</label>
                        <input type="text" class="booking-select-hotel" ng-model='currentBooking.hotel_id'
                               style="width:100%;display: inline-block"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Room name</label>
                        <input type="text" class="booking-select-room" ng-model='currentBooking.room_id'
                               style="width:100%;display: inline-block" ng-disabled="!currentBooking.hotel_id"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Customer</label>
                        <input type="text" class="booking-select-user" ng-model='currentBooking.user_id'
                               style="width:100%;display: inline-block"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Number Night</label>
                        <input type="number" ng-model='currentBooking.number_night' class="form-control"/>
                    </div>
                    <div class="form-group" ng-show="currentBooking.id">
                        <label class="control-label">Created</label>
                        <label class="control-label"><i>
                            {{currentBooking.created_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                    <div class="form-group" ng-show="currentBooking.id">
                        <label class="control-label">Author</label>
                        <label class="control-label"><b>
                            {{currentBooking.author.email}}</b>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    Cancel
                </a>
                <button type="button" class="btn btn-primary" ng-click="saveBooking()" ng-show="currentBooking.id">
                    Save
                </button>
                <button class="btn btn-success" ng-click="saveBooking('1')" ng-show="!currentBooking.id || currentBooking.status == '0'">
                    Publish
                </button>
                <button class="btn btn-info" ng-click="saveBooking('0')"
                        ng-show="(!currentBooking.id || arrayContains(currentBooking.status,['-1','1']))">
                    Pending
                </button>
                <button type="button" class="btn btn-warning" ng-click="saveBooking('-1')"
                        ng-show="(!currentBooking.id) && arrayContains(currentBooking.status, ['0','1'])">
                    Trash
                </button>
                <button class="btn btn-danger" ng-click="deleteBooking(currentBooking.id)"
                        ng-show="(!currentBooking.id) && currentBooking.status == 'trash'">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-12 text-right form-group">
            <button class="btn btn-success" ng-click="addBooking()">
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Add new Booking</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a ng-click="columnsShown.hotel_name = !columnsShown.hotel_name;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.hotel_name" >
                                    Hotel name </label>
                            </div>
                        </a>
                    </li>
                    <li><a ng-click="columnsShown.room_name = !columnsShown.room_name;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.room_name" >
                                Room name </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <input type="text" multiple id="filterBookingsByHotel" ng-model='filterBookingsByHotel'
                   style="width:100%;display: block"/>
        </div>
        <div class="col-sm-6 form-group">
            <select ng-model="filterBookingsByStatus" class="form-control" ng-change="filterBooking()">
                <option value=""> All Status</option>
                <option value="1"> Published</option>
                <option value="0"> Pending</option>
                <option value="-1"> Trash</option>
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <input type="text" id="filterBookingsByCreatedFrom"
                       class="form-control filterBookingByCreatedAt" placeholder="Created From">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <input type="text" id="filterBookingsByCreatedTo"
                       class="form-control filterBookingByCreatedAt" placeholder="Created To">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-click="sortBooking('bookings.name');" ng-show="columnsShown.name"
                class="sorting{{bookingsList.orderBy === 'bookings.name' ? ' sorting_' + bookingsList.orderDir : ''}}">Name</th>
            <th ng-click="sortBooking('bookings.description');" ng-show="columnsShown.description"
                class="sorting{{bookingsList.orderBy === 'bookings.description' ? ' sorting_' + bookingsList.orderDir : ''}}">Description</th>
            <th ng-click="sortBooking('bookings.hotel_name');" ng-show="columnsShown.hotel_name"
                class="sorting {{bookingsList.orderBy === 'bookings.hotel_name' ? ' sorting_' + bookingsList.orderDir : ''}}">Hotel</th>
            <th ng-click="sortBooking('bookings.room_name');" ng-show="columnsShown.room_name"
                class="sorting {{bookingsList.orderBy === 'bookings.room_name' ? ' sorting_' + bookingsList.orderDir : ''}}">Booking</th>
            <th ng-click="sortBooking('bookings.status');"
                class="sorting{{bookingsList.orderBy === 'bookings.status' ? ' sorting_' + bookingsList.orderDir : ''}}">
                Status
            </th>
            <th ng-click="sortBooking('bookings.ordering');" ng-show="columnsShown.ordering"
                class="sorting col-w-55{{bookingsList.orderBy === 'bookings.ordering' ? ' sorting_' + bookingsList.orderDir : ''}}">
                Ordering
            </th>
            <th style="min-width: 50px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="bookingsList.data.length == 0">
            <td valign="top" colspan="20" class="dataTables_empty">Not found</td>
        </tr>
        <tr ng-repeat="(index, Booking) in bookingsList.data">
            <td>
                {{index + 1 + (bookingsList.currentPage-1)*10}}
            </td>
            <td ng-show="columnsShown.hotel_name">{{Booking.hotel_name}}</td>
            <td ng-show="columnsShown.room_name">{{Booking.room_name}}</td>
            <td ng-show="columnsShown.number_night">{{Booking.number_night}}</td>
            <td ng-show="columnsShown.price">{{Booking.price | number}}</td>
            <td><a href="" buttons="no"
                   editable-select="Booking.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Booking.id, $data)"
                   ng-class="{'text-success': Booking.status == '1','text-danger': Booking.status == '-1'}">
                {{(selectStatus | filter:{value: Booking.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td>
                <a href="" ng-click="editBooking(index, Booking)"><i class="fa fa-pencil fa-lg fa-fw"></i></a>
                <a href="" class="text-danger delete-row" delete-id="{{Booking.id}}"><i class="fa fa-trash fa-lg fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="bookingsList.data.length > 0">
            <td colspan="20" class="text-center">
                <paging
                    page="bookingsList.currentPage"
                    page-size="bookingsList.itemsPerPage"
                    total="bookingsList.totalBookings"
                    adjacent="2"
                    dots="..."
                    scroll-top="{{scrollTop}}"
                    hide-if-empty="true"
                    ul-class="pagination"
                    active-class="active"
                    disabled-class="disabled"
                    show-prev-next="true"
                    paging-action="setPageBooking(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
