<form class="form-horizontal changePassForm">
    <div class="form-group">
        <label class="col-md-4 control-label">Mật khẩu cũ</label>
        <div class="col-md-6">
            <input type="password" class="form-control required" name="password_old" ng-model="currentUser.oldPassword">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Mật khẩu mới</label>
        <div class="col-md-6">
            <input type="password" class="form-control required" id="password_new" name="password_new" ng-model="currentUser.newPassword" >
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-4 control-label">Nhập lại</label>
        <div class="col-md-6">
            <input type="password" class="form-control required" name="password_confirm">
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-6 col-md-offset-4" ng-bind="msgSubmit"></label>
    </div>

    <div class="form-group">
        <div class="col-md-6 col-md-offset-4">
            <button type="submit" class="btn btn-primary btn-change" ng-click="changePassword()">
                Thay đổi
            </button>
        </div>
    </div>
</form>