<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Quản lý hệ thống', 'Thay đổi mật khẩu']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div ng-controller="changePassIndexCtrl" id="index-ctrl">
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-sm-12 relative-box tables_wrapper system-article">
                    <div jarvis-widget data-auto-height="true" data-widget-colorbutton="true" data-widget-color="greenDark" data-widget-editbutton="false" data-widget-deletebutton="false"  ng-controller="ChangePassCtrl" id="change_pass_ctrl">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2></h2>
                        </header>
                        <div>
                            <!-- widget content -->
                            <div class="widget-body" change-pass-list>
                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>