<div class="modal fade parent-modal" id="modal-add-hotel" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-hotel" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <h4 class="modal-title" id="modal-label-add-hotel">{{!currentHotel.id ? 'Add' : 'Update'}} Hotel</h4>

                <div class="draft-warning" style="float: right;" ng-show="savedHotelDraft && !currentHotel.id">
                    <a ng-click="loadHotelDraft()">Get last draft for your Hotel</a>
                </div>
            </div>
            <div class="modal-body">
                <form class="addHotelForm form-validator" name='addHotelForm' novalidate>
                    <div class="form-group">
                        <label class="control-label">Name <span class="symbol required"></span></label>
                        <input placeholder="Hotel Name" name='name' class="form-control required hotel-name"
                               ng-model="currentHotel.name" ng-change="generateAlias()">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Alias <span class="symbol required"></span></label>
                        <input class="form-control tooltips required hotel-alias" placeholder="Hotel Alias"
                               ng-model="currentHotel.alias" name='alias' id="hotel_alias"
                               data-placement="top" data-rel="tooltip" data-original-title="Please enter valid
                            Alias (only contain alphabet or number or '-' character)">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" placeholder="Description"
                                  ng-model="currentHotel.description" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Address <span class="symbol required"></span></label>
                        <input class="form-control required" placeholder="Address"
                               ng-model="currentHotel.address" name="address">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Hotel url</label>
                        <input class="form-control url" placeholder="Hotel URL"
                               ng-model="currentHotel.hotel_url" name="hotel_url">
                    </div>
                    <div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Star <span class="symbol required"></span></label>
                                <input type="number" class="form-control" placeholder="Number stars" id="hotelStars"
                                       ng-model="currentHotel.stars" name="stars">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">City <span class="symbol required"></span></label>
                                <input id="hotelCity" ng-model='currentHotel.city_id'
                                       class="required" name='hotelCity' style="width:100%;display: block"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 hotel-image-origin form-group">
                            <label class="control-label" style="display: block">Image origin <span
                                    class="symbol required"></span></label>

                            <div ng-class="currentHotel.image_origin ? 'fileinput fileinput-exists' : 'fileinput fileinput-new'"
                                 data-provides="fileinput">
                                <div class="fileinput-preview thumbnail" style="width: 280px; height: 190px;">
                                    <img ng-src="{{currentHotel.image_origin ? currentHotel.image_origin : 'http://via.placeholder.com/270x180'}}" id="hotel-image-origin"/>
                                </div>

                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                                    <a ng-click="currentHotel.image_origin = ''"
                                       class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 hotel-image-small form-group">
                            <label class="control-label" style="display: block">Image small</label>

                            <div ng-class="currentHotel.image_small ? 'fileinput fileinput-exists' : 'fileinput fileinput-new'"
                                 data-provides="fileinput">
                                <div class="fileinput-preview  thumbnail" style="width: 100px; height: 70px;">
                                    <img ng-src="{{currentHotel.image_small ? currentHotel.image_small : 'http://via.placeholder.com/90x60'}}"
                                         id="hotel-image-small"/>
                                </div>
                                <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                                    <a ng-click="currentHotel.image_small = ''"
                                       class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">Is hot</label>
                            <div class="form-horizontal" style="margin-bottom: 10px">
                                <label class="radio radio-inline">
                                    <input ng-model="currentHotel.is_hot" type="radio" class="radiobox"
                                           ng-value="1">
                                    <span>Yes</span>
                                </label>
                                <label class="radio radio-inline">
                                    <input ng-model="currentHotel.is_hot" type="radio" class="radiobox"
                                           ng-value="0">
                                    <span>No</span>
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Best Hotel</label>
                            <div class="form-horizontal" style="margin-bottom: 10px">
                                <label class="radio radio-inline">
                                    <input ng-model="currentHotel.is_best" type="radio" class="radiobox"
                                           ng-value="1">
                                    <span>Yes</span>
                                </label>
                                <label class="radio radio-inline">
                                    <input ng-model="currentHotel.is_best" type="radio" class="radiobox"
                                           ng-value="0">
                                    <span>No</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <section ng-show="!currentHotel.addMode">
                        <label class="control-label">Created </label>
                        <label class="control-label"><i>
                            {{currentHotel.created_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</i>
                        </label>
                    </section>
                    <section ng-show="!currentHotel.addMode">
                        <label class="control-label">Author</label>
                        <label class="control-label"><b>
                            {{currentHotel.author.email}}</b>
                        </label>
                    </section>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Cancel
                </a>
                <a class="btn btn-success" ng-click="saveHotel()" ng-if="currentHotel.id">
                    Save
                </a>
                <a class="btn btn-success" ng-click="saveHotel('1')"
                   ng-if="(!currentHotel.id || currentHotel.status == '0')">
                    Publish
                </a>
                <a class="btn btn-info" ng-click="saveHotel('0')"
                   ng-if="(!currentHotel.id || arrayContains(currentHotel.status, ['-1','1']))">
                    Pending
                </a>
                <a class="btn btn-warning" ng-click="saveHotel('-1')"
                   ng-if="(!currentHotel.id) && arrayContains(currentHotel.status, ['0','1'])">
                    Trash
                </a>
                <a class="btn btn-danger" ng-click="deleteHotel(currentHotel)"
                   ng-if="(currentHotel.id) && currentHotel.status == 'trash' && ($parent.userPermission.hotels[Hotel.id].delete || $parent.userPermission.hotels[0].delete)">
                    Delete
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control" id="prepend" placeholder="Hotel Name"
                       ng-model="hotelsList.hotelSearchValue" ng-change='filterHotel()'>
            </div>
        </div>
        <div class="col-sm-6 text-right form-group">
            <button class="btn btn-success" ng-click="addHotel()">
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Add New Hotel</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuHotel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenuHotel">
                    <li>
                        <a ng-click="columnsShown.rooms = !columnsShown.rooms;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.rooms" >
                                    Rooms </label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ng-click="columnsShown.cityName = !columnsShown.cityName;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.cityName" >
                                    City Name </label>
                            </div>
                        </a>
                    </li>
                    <li><a ng-click="columnsShown.createdBy = !columnsShown.createdBy;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.createdBy" >
                                Created By </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.updatedBy = !columnsShown.updatedBy;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.updatedBy" >
                                Updated By </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.updatedAt = !columnsShown.updatedAt;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.updatedAt" >
                                Updated At </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <input class="listCities" id="filterHotelsByCity" ng-model='filterHotelsByCities'
                   style="width:100%;display: block"/>
        </div>
        <div class="col-sm-6 form-group">
            <select ng-model="filterHotelsByStatus" class="form-control" ng-change="filterHotel()">
                <option value=""> All Status</option>
                <option value="1"> Published</option>
                <option value="0"> Pending</option>
                <option value="-1"> Trash</option>
            </select>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th ng-click="sortHotel('hotels.name');"
                class="sorting{{hotelsList.orderBy === 'hotels.name' ? ' sorting_' + hotelsList.orderDir : ''}}">Name
            </th>
            <th ng-click="sortHotel('hotels.room_count');" ng-show="columnsShown.rooms"
                class="sorting col-w-55{{hotelsList.orderBy === 'hotels.room_count' ? ' sorting_' + hotelsList.orderDir : ''}}">
                Rooms
            </th>
            <th ng-show="columnsShown.country">City</th>
            <th ng-show="columnsShown.createdBy" ng-click="sortHotel('author_created');"
                class="sorting{{hotelsList.orderBy === 'author_created' ? ' sorting_' + hotelsList.orderDir : ''}}">Created by</th>
            <th ng-click="sortHotel('hotels.created_at');"
                class="sorting col-w-70{{hotelsList.orderBy === 'hotels.created_at' ? ' sorting_' + hotelsList.orderDir : ''}}">
                Created at
            </th>
            <th ng-show="columnsShown.updatedBy" ng-click="sortHotel('author_updated');"
                class="sorting{{hotelsList.orderBy === 'author_updated' ? ' sorting_' + hotelsList.orderDir : ''}}">Updated by</th>
            <th ng-click="sortHotel('hotels.updated_at');" ng-show="columnsShown.updatedAt"
                class="sorting col-w-70{{hotelsList.orderBy === 'hotels.created_at' ? ' sorting_' + hotelsList.orderDir : ''}}">
                Updated at
            </th>
            <th ng-click="sortHotel('hotels.status');"
                class="sorting col-w-55{{hotelsList.orderBy === 'hotels.status' ? ' sorting_' + hotelsList.orderDir : ''}}">
                Status
            </th>
            <th style="min-width: 80px;">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="hotelsList.data.length == 0">
            <td valign="top" colspan="10" class="dataTables_empty">No data available in table</td>
        </tr>
        <tr ng-repeat="(index, Hotel) in hotelsList.data" class="{{Hotel.status}}">
            <td>{{Hotel.name}}</td>
            <td ng-show="columnsShown.rooms">
                <a href="" ng-click="filterRoomByHotel(Hotel)" id="room_count_{{Hotel.id}}">{{Hotel.room_count}}</a>
            </td>
            <td ng-show="columnsShown.cityName">{{Hotel.city_name}}</td>
            <td ng-show="columnsShown.createdBy">{{Hotel.author_created}}</td>
            <td>{{Hotel.created_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</td>
            <td ng-show="columnsShown.updatedBy">{{Hotel.author_updated}}</td>
            <td ng-show="columnsShown.updatedAt">{{Hotel.updated_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</td>
            <td><a href="" buttons="no" ng-class="Hotel.status == 1 ? 'text-success' : (Hotel.status == -1 ? 'text-danger' : 'text-info')"
                   editable-select="Hotel.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Hotel.id, $data)">
                {{(selectStatus | filter:{value: Hotel.status})[0].text || 'Not set' }}</a>
            <td>
                <a href="" ng-click="editHotel(index, Hotel)">
                    <i class="fa fa-pencil-square-o fa-lg"></i></a>
                <a href="" class="delete-row" ng-show="Hotel.status == '-1'" delete-id="{{Hotel.id}}">
                    <i class="fa fa-trash-o fa-lg red-item"></i></a>
                <a ng-click="addRoom(index,Hotel)" class="btn btn-info btn-xs" ng-show="Hotel.status != '-1'">
                    <i class="fa fa-plus"></i>R
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="hotelsList.data.length > 0">
            <td colspan="10" class="text-center">
                <paging
                        page="hotelsList.currentPage"
                        page-size="hotelsList.itemsPerPage"
                        total="hotelsList.totalHotels"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageHotel(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
