<div id="content">
    <div class="row">
        <big-breadcrumbs items="['Contents', 'Contents Management']" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></big-breadcrumbs>
    </div>
    <div ng-controller="IndexCtrl" id="index-ctrl" class="content-index">
        <section id="widget-grid" widget-grid>
            <div class="row">
                <article class="col-sm-6 relative-box tables_wrapper hotel-article">
                    <div jarvis-widget data-auto-height="true" data-widget-colorbutton="true" data-widget-color="green" data-widget-editbutton="false" data-widget-deletebutton="false"  ng-controller="HotelsCtrl as HotelsTbl" id="hotel_ctrl">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Hotels ({{hotelsList.totalHotels | number}})</h2>
                            <div class="jarviswidget-ctrls" role="menu"><a href="" ng-click="clearFilterHotels()" class="button-icon btn-hotel-refresh" ><i class="fa fa-refresh"></i></a></div>
                        </header>
                        <div>
                            <!-- widget content -->
                            <div class="widget-body no-padding" hotels-list>
                                <!--<button class="btn btn-success position-right-button" ng-click="addNewHotel()"  data-toggle="modal" data-target="#modal-add-hotel">
                                    <i class="fa fa-plus"></i>
                                    <span class="hidden-mobile">Add New Hotel</span>
                                </button>-->
                            </div>
                            <!-- end widget content -->
                        </div>
                    </div>
                </article>
                <article class="col-sm-6">
                    <div jarvis-widget class="action-list room-article" data-widget-colorbutton="true" data-widget-color="green" data-widget-editbutton="false" data-widget-deletebutton="false" ng-controller="RoomsCtrl as RoomsTbl" id="room_ctrl">
                        <header>
                            <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                            <h2>Rooms ({{roomsList.totalRooms | number}})</h2>
                            <div class="jarviswidget-ctrls" role="menu"><a href="" ng-click="clearFilterRooms()" class="button-icon btn-room-refresh" ><i class="fa fa-refresh"></i></a></div>
                        </header>
                        <div>
                            <div>
                                <div class="widget-body no-padding" rooms-list></div>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
<div class="modal fade" id="changeRoomImageModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="component">
                <div class="overlay">
                    <div class="overlay-inner"></div>
                </div>
                <div class="btn-group-crop">
                    <button type="button" class="btn-crop" data-dismiss="modal">Cancel & Close</button>
                    <button type="button" class="btn-crop js-crop"><i class="fa fa-crop"></i> Crop & Save</button>
                    <button type="button" class="btn-crop" id="clockwise"><i class="fa fa-repeat"></i></button>
                    <button type="button" class="btn-crop" id="counterclockwise"><i class="fa fa-undo"></i></button>
                </div>
                <img class="resize-image" src="styles/img/loader.gif" alt="Crop image area" />
            </div>
            <div class="modal-footer">
                <div class="alert alert-info crop-tip-hint"></div>
            </div>
        </div>
    </div>
</div>