<div class="modal fade parent-modal" id="modal-add-room" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-room" aria-hidden="false">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">{{($parent.currentRoom.id) ? 'Update Room' : 'Add New Room'}}</h4>
                <div class="draft-warning" style="float: right;"
                     ng-show="savedRoomDraft && !$parent.currentRoom.id">
                    <a ng-click="loadRoomDraft()">Get last draft for your Room</a>
                </div>
            </div>
            <div class="modal-body">
                <form class="addRoomForm" name='addRoomForm' novalidate>
                    <div class="form-group">
                        <label class="control-label">Hotel name
                            <a href="" ng-show="$parent.currentRoom.id" ng-click="$parent.currentRoom.editHotel = true">
                                <i class="fa fa-pencil-square-o fa-fw fa-lg"></i>
                            </a>
                        </label>
                        <h1 class="room-hotel-name" ng-show="!$parent.currentRoom.editHotel"><b>{{$parent.currentRoom.hotelName}}</b></h1>
                        <div ng-show="$parent.currentRoom.editHotel && $parent.currentRoom.id">
                            <input type="text" class="room-select-hotel" ng-model='$parent.currentRoom.hotel_id'
                                   style="width:50%;display: inline-block"/>
                            <a class="btn btn-success" ng-click="roomChangeHotel()" id="room-change-hotel"><i
                                    class="fa fa-check"></i></a>
                            <a class="btn btn-default" ng-click="$parent.currentRoom.editHotel = false"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Name <span class="symbol required"></span></label>
                        <input class="form-control required" type="text" placeholder="Name" name="name" ng-model='$parent.currentRoom.name'>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea placeholder="Description" name="description"
                                  ng-model='$parent.currentRoom.description' class="form-control">
                                </textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Size <span class="symbol required"></span></label>
                                <input class="form-control required" type="number" placeholder="Size" name="size" ng-model='$parent.currentRoom.size'>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Price <span class="symbol required"></span></label>
                                <div class="input-group">
                                    <input class="form-control required text-right" type="text" placeholder="Price" name="price" ng-model='$parent.currentRoom.price' cr-numeric>
                                    <span class="input-group-addon"><i class="fa fa-customize">đ</i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <fieldset class="fsStyle">
                            <legend class="legendStyle smart-form">
                                <label class="checkbox">
                                    <input type="checkbox" name="has_discount" ng-model="$parent.currentRoom.has_discount">
                                    <i></i>Discount
                                </label>
                            </legend>
                            <div class="inline-group">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Discount Percent <span class="symbol required"></span></label>
                                            <div class="input-group">
                                                <input class="form-control text-right required" type="text" placeholder="Discount Percent" ng-blur="$parent.currentRoom.discount_price = $parent.currentRoom.price - $parent.currentRoom.discount_percent*$parent.currentRoom.price/100"
                                                       name="discount_percent" ng-model='$parent.currentRoom.discount_percent' ng-disabled="!$parent.currentRoom.has_discount" cr-numeric="{mDec:'1',vMin:0,vMax:100}">
                                                <span class="input-group-addon"><i class="fa fa-percent"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Discount Price <span class="symbol required"></span></label>
                                            <div class="input-group">
                                                <input class="form-control text-right required" type="text" placeholder="Discount Price" ng-blur="$parent.currentRoom.discount_percent = 100 - $parent.currentRoom.discount_price*100/$parent.currentRoom.price"
                                                       name="discount_price" ng-model='$parent.currentRoom.discount_price' cr-numeric ng-disabled="!$parent.currentRoom.has_discount">
                                                <span class="input-group-addon"><i class="fa fa-customize">đ</i></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Discount Start Date</label>
                                            <div class="input-group">
                                                <input type="text" ng-model="$parent.currentRoom.discount_start"
                                                       class="form-control datetimepicker" id="room-discount-start"
                                                       ng-disabled="!$parent.currentRoom.has_discount">
                                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="control-label">Discount End Date</label>
                                        <div class="input-group">
                                            <input type="text" ng-model="$parent.currentRoom.discount_end"
                                                   class="form-control datetimepicker" id="room-discount-end"
                                                   ng-disabled="!$parent.currentRoom.has_discount">
                                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="form-group room-image">
                        <label class="control-label" style="display: block">Image <span class="symbol required"></span></label>
                        <img style="width: 250px;height: 190px;" src="{{$parent.currentRoom.image ? $parent.currentRoom.image : 'http://via.placeholder.com/240x180'}}" id="room-image" class="img-thumbnail img-responsive"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ordering</label>
                        <input type="number" ng-model='$parent.currentRoom.ordering' class="form-control"/>
                    </div>
                    <div class="form-group" ng-show="$parent.currentRoom.id">
                        <label class="control-label">Created</label>
                        <label class="control-label"><i>
                            {{$parent.currentRoom.created_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                    <div class="form-group" ng-show="$parent.currentRoom.id">
                        <label class="control-label">Author</label>
                        <label class="control-label"><b>
                            {{$parent.currentRoom.author.email}}</b>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    Cancel
                </a>
                <button type="button" class="btn btn-primary" ng-click="saveRoom()" ng-show="$parent.currentRoom.id">
                    Save
                </button>
                <button class="btn btn-success" ng-click="saveRoom('1')" ng-show="!$parent.currentRoom.id || $parent.currentRoom.status == '0'">
                    Publish
                </button>
                <button class="btn btn-info" ng-click="saveRoom('0')"
                   ng-show="(!$parent.currentRoom.id || arrayContains($parent.currentRoom.status,['-1','1']))">
                    Pending
                </button>
                <button type="button" class="btn btn-warning" ng-click="saveRoom('-1')"
                   ng-show="(!$parent.currentRoom.id) && arrayContains($parent.currentRoom.status, ['0','1'])">
                    Trash
                </button>
                <button class="btn btn-danger" ng-click="deleteRoom($parent.currentRoom.id)"
                   ng-show="(!$parent.currentRoom.id) && $parent.currentRoom.status == 'trash'">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-12 form-group" ng-if="roomsList.filterByHotels.length > 0">
            Filter by hotel:
            <a href="" ng-click="removeFilterRoomByHotel(index)" class="btn btn-labeled btn-default" style="max-width: 288px;text-overflow: ellipsis;overflow: hidden;"
               ng-repeat="(index,s) in roomsList.filterByHotels"> {{s.name}} <span class="btn-label-right"><i
                    class="fa fa-times"></i></span></a>
        </div>
        <div class="col-sm-7 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control" id="prepend" placeholder="Room name" type="text"
                       ng-model="roomsList.roomSearchValue" ng-change='filterRoom()'>
            </div>
        </div>
        <div class="col-sm-5 form-group text-right">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuRoom" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenuRoom">
                    <li><a ng-click="roomColumnsShown.price = !roomColumnsShown.price;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="roomColumnsShown.price" >
                                Price </label>
                        </div>
                    </a></li>
                    <li><a ng-click="roomColumnsShown.createdBy = !roomColumnsShown.createdBy;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="roomColumnsShown.createdBy" >
                                Created By </label>
                        </div>
                    </a></li>
                    <li><a ng-click="roomColumnsShown.updatedBy = !roomColumnsShown.updatedBy;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="roomColumnsShown.updatedBy" >
                                Updated By </label>
                        </div>
                    </a></li>
                    <li><a ng-click="roomColumnsShown.updatedAt = !roomColumnsShown.updatedAt;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="roomColumnsShown.updatedAt">
                                Updated At </label>
                        </div>
                    </a></li>
                    <li><a ng-click="roomColumnsShown.ordering = !roomColumnsShown.ordering;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="roomColumnsShown.ordering" >
                                Ordering </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <select ng-model="filterRoomsByStatus" class="form-control" ng-change="filterRoom()">
                <option value=""> All Status</option>
                <option value="1"> Published</option>
                <option value="0"> Pending</option>
                <option value="-1"> Trash</option>
            </select>
        </div>
        <div class="col-sm-6 form-group">
            <input type="text" multiple id="filterRoomsByAuthor" ng-model='filterRoomsByAuthor'
                   style="width:100%;display: block"/>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th ng-click="sortRoom('rooms.name');"
                class="sorting{{roomsList.orderBy === 'rooms.name' ? ' sorting_' + roomsList.orderDir : ''}}">
                Name
            </th>
            <th ng-click="sortRoom('price');" ng-show="roomColumnsShown.price"
                class="sorting{{roomsList.orderBy === 'price' ? ' sorting_' + roomsList.orderDir : ''}}">Price (vnđ)</th>
            <th ng-click="sortRoom('author_created');" ng-show="roomColumnsShown.createdBy"
                class="sorting{{roomsList.orderBy === 'author_created' ? ' sorting_' + roomsList.orderDir : ''}}">
                Created by
            </th>
            <th ng-click="sortRoom('rooms.created_at');"
                class="sorting col-w-70{{roomsList.orderBy === 'rooms.created_at' ? ' sorting_' + roomsList.orderDir : ''}}">
                Created at
            </th>
            <th ng-click="sortRoom('author_updated');" ng-show="roomColumnsShown.updatedBy"
                class="sorting{{roomsList.orderBy === 'author_updated' ? ' sorting_' + roomsList.orderDir : ''}}">
                Updated by
            </th>
            <th ng-click="sortRoom('rooms.updated_at');" ng-show="roomColumnsShown.updatedAt"
                class="sorting col-w-70{{roomsList.orderBy === 'rooms.updated_at' ? ' sorting_' + roomsList.orderDir : ''}}">
                Updated at
            </th>
            <th ng-click="sortRoom('rooms.status');"
                class="sorting col-w-55{{roomsList.orderBy === 'rooms.status' ? ' sorting_' + roomsList.orderDir : ''}}">
                Status
            </th>
            <th ng-click="sortRoom('rooms.ordering');" ng-show="roomColumnsShown.ordering"
                class="sorting col-w-55{{roomsList.orderBy === 'rooms.ordering' ? ' sorting_' + roomsList.orderDir : ''}}">
                Ordering
            </th>
            <th class="col-w-55">Action</th>
            <th class="col-w-70" ng-show="roomColumnsShown.share">Share</th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="roomsList.data.length == 0">
            <td valign="top" colspan="10" class="dataTables_empty">No data available in table</td>
        </tr>
        <!-- <tr ng-repeat="(index, Room) in roomsList.data" class="{{(index % 2 == 0) ? 'odd' : 'even'}}"> -->
        <tr ng-repeat="(index, Room) in roomsList.data">
            <td>
                {{Room.name}}
            </td>
            <td ng-show="roomColumnsShown.price" class="text-right">{{Room.price | number}}</td>
            <td ng-show="roomColumnsShown.createdBy">{{Room.author_created}}</td>
            <td>{{Room.created_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</td>
            <td ng-show="roomColumnsShown.updatedBy">{{Room.author_updated}}</td>
            <td ng-show="roomColumnsShown.updatedAt">{{Room.updated_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</td>
            <td><a href="" ng-class="Room.status == 1 ? 'text-success' : (Room.status == -1 ? 'text-danger' : 'text-info')"
                   buttons="no" editable-select="Room.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Room.id, $data)">
                {{(selectStatus | filter:{value: Room.status})[0].text || 'Not set' }}</a>
            </td>
            <td ng-show="roomColumnsShown.ordering">
                <a href="" editable-number="Room.top_order" e-required onbeforesave="updateOrder(Room.id, $data)" buttons="no" e-style="width: 80px">{{ Room.ordering || 'empty' }}</a>
            </td>
            <td>
                <a href="" ng_click="editRoom(index, Room)">
                    <i class="fa fa-pencil-square-o fa-lg"></i>
                </a>
                <a href="" class="delete-row" delete-id="{{Room.id}}" ng-show="Room.status == '-1'">
                    <i class="fa fa-trash-o fa-lg red-item"></i>
                </a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="roomsList.data.length > 0">
            <td colspan="10" class="text-center">
                <paging
                        page="roomsList.currentPage"
                        page-size="roomsList.itemsPerPage"
                        total="roomsList.totalRooms"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageRoom(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>