<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="PLSoft Administrator" > </span>
    </div>

</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">

        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 login-form-index">
                <div class="well no-padding">
                    <form id="login-form" class="smart-form client-form">
                        <header>
                            Quên mật khẩu
                        </header>

                        <fieldset>

                            <section>
                                <label class="label">Xin hãy liên hệ quản lý hoặc Trợ giúp: Mr.Phương - 012.9339.9333</label>
                                <!--<label class="input"> <i class="icon-append fa fa-envelope"></i>-->
                                    <!--<input type="email" name="email">-->
                                    <!--<b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Please enter email address for password reset</b></label>-->
                            </section>
                            <!--<section>-->
										<!--<span class="timeline-seperator text-center text-primary"> <span class="font-sm">OR</span></span>-->
                            <!--</section>-->
                            <!--<section>-->
                                <!--<label class="label">Your Username</label>-->
                                <!--<label class="input"> <i class="icon-append fa fa-user"></i>-->
                                    <!--<input type="text" name="username">-->
                                    <!--<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Enter your username</b> </label>-->
                                <!--<div class="note">-->
                                    <!--<a ui-sref="login">I remembered my password!</a>-->
                                <!--</div>-->
                            <!--</section>-->

                        </fieldset>
                        <footer>
                            <a role="button" class="btn btn-primary" href="#/login">
                                <i class="fa fa-refresh"></i> Quay lại
                            </a>
                        </footer>
                    </form>

                </div>

            </div>
        </div>
    </div>

</div>
</div>