<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-md-offset-4">
                <div class="well no-padding">
                    <form id="login-form" ng-submit="doLogin(login)" class="smart-form client-form"  data-smart-validate-form>
                        <header>
                            Login
                        </header>
                        <fieldset>
                            <section class="form-group">
                                <label class="label">Email</label>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <input type="email" name="email" class="email required"
                                           ng-model="login.email"
                                           data-smart-validate-input
                                           data-required
                                           data-email
                                           data-message-required="Please enter your email address"
                                           data-message-email="Please enter a VALID email address">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i>
                                        Please enter email address</b></label>
                            </section>
                            <section class="form-group">
                                <label class="label">Password</label>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                   <input type="password" name="password" class="required"
                                          ng-model="login.password"
                                          data-smart-validate-input
                                          data-required
                                          data-minlength="3"
                                          data-maxnlength="20"
                                          data-message="Please enter your email password">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter
                                        your password</b> </label>

                            </section>
                            <section class="form-group hidden-over">
                                <div class="g-recaptcha" id="reCaptchaSubmit" data-sitekey="6Led6CkUAAAAAMRKrzk7UyaXvh8J8qlzA1Bom5-G" ng-show="failedLogin"></div>
                            </section>
                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary status-ajax">
                                <i class="fa fa-spinner fa-pulse"></i> Login
                            </button>
                        </footer>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>