<div class="modal fade" id="modal-add-slide" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-slide" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">{{(currentSlide.id) ? 'Update Slide' : 'Add New Slide'}}</h4>
                <div class="draft-warning" style="float: right;"
                     ng-show="savedSlideDraft && !currentSlide.id">
                    <a ng-click="loadSlideDraft()">Get last draft for your Slide</a>
                </div>
            </div>
            <div class="modal-body">
                <form class="addSlideForm" name='addSlideForm' novalidate>
                    <div class="form-group">
                        <label class="control-label">Hotel name</label>
                        <input type="text" class="slide-select-hotel" ng-model='currentSlide.hotel_id'
                               style="width:100%;display: inline-block"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Room name</label>
                        <input type="text" class="slide-select-room" ng-model='currentSlide.room_id'
                               style="width:100%;display: inline-block" ng-disabled="!currentSlide.hotel_id"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Name <span class="symbol required"></span></label>
                        <input class="form-control required" type="text" placeholder="Name" name="name" ng-model='currentSlide.name'>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea placeholder="Description" name="description"
                                  ng-model='currentSlide.description' class="form-control">
                                </textarea>
                    </div>
                    <div class="form-group slide-image">
                        <label class="control-label" style="display: block">Slide image <span class="symbol required"></span></label>
                        <div ng-class="currentSlide.image ? 'fileinput fileinput-exists' : 'fileinput fileinput-new'"
                             data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" style="width: 996px;height: 312px;">
                                <img ng-src="{{currentSlide.image ? currentSlide.image : 'http://via.placeholder.com/986x302'}}" id="hotel-image-origin"/>
                            </div>
                            <div>
                                <span class="btn btn-default btn-file">
                                    <span class="fileinput-new">Select image</span>
                                    <span class="fileinput-exists">Change</span>
                                    <input type="file" name="...">
                                </span>
                                <a ng-click="currentSlide.image = ''"
                                   class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ordering</label>
                        <input type="number" ng-model='currentSlide.ordering' class="form-control"/>
                    </div>
                    <div class="form-group" ng-show="currentSlide.id">
                        <label class="control-label">Created</label>
                        <label class="control-label"><i>
                            {{currentSlide.created_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                    <div class="form-group" ng-show="currentSlide.id">
                        <label class="control-label">Author</label>
                        <label class="control-label"><b>
                            {{currentSlide.author.email}}</b>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    Cancel
                </a>
                <button type="button" class="btn btn-primary" ng-click="saveSlide()" ng-show="currentSlide.id">
                    Save
                </button>
                <button class="btn btn-success" ng-click="saveSlide('1')" ng-show="!currentSlide.id || currentSlide.status == '0'">
                    Publish
                </button>
                <button class="btn btn-info" ng-click="saveSlide('0')"
                        ng-show="(!currentSlide.id || arrayContains(currentSlide.status,['-1','1']))">
                    Pending
                </button>
                <button type="button" class="btn btn-warning" ng-click="saveSlide('-1')"
                        ng-show="(!currentSlide.id) && arrayContains(currentSlide.status, ['0','1'])">
                    Trash
                </button>
                <button class="btn btn-danger" ng-click="deleteSlide(currentSlide.id)"
                        ng-show="(!currentSlide.id) && currentSlide.status == 'trash'">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control"  placeholder="Slide name" type="text"
                       ng-model="slidesList.slideSearchValue" ng-change='filterSlide()'>
            </div>
        </div>
        <div class="col-sm-6 text-right form-group">
            <button class="btn btn-success" ng-click="addSlide()">
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Add new Slide</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a ng-click="columnsShown.description = !columnsShown.description;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.description" >
                                    Description </label>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a ng-click="columnsShown.hotel_name = !columnsShown.hotel_name;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.hotel_name" >
                                    Hotel name </label>
                            </div>
                        </a>
                    </li>
                    <li><a ng-click="columnsShown.room_name = !columnsShown.room_name;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.room_name" >
                                Room name </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.ordering = !columnsShown.ordering;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.ordering">
                                Ordering </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <input type="text" multiple id="filterSlidesByHotel" ng-model='filterSlidesByHotel'
                   style="width:100%;display: block"/>
        </div>
        <div class="col-sm-6 form-group">
            <select ng-model="filterSlidesByStatus" class="form-control" ng-change="filterSlide()">
                <option value=""> All Status</option>
                <option value="1"> Published</option>
                <option value="0"> Pending</option>
                <option value="-1"> Trash</option>
            </select>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-click="sortSlide('slides.name');" ng-show="columnsShown.name"
                class="sorting{{slidesList.orderBy === 'slides.name' ? ' sorting_' + slidesList.orderDir : ''}}">Name</th>
            <th ng-click="sortSlide('slides.description');" ng-show="columnsShown.description"
                class="sorting{{slidesList.orderBy === 'slides.description' ? ' sorting_' + slidesList.orderDir : ''}}">Description</th>
            <th ng-click="sortSlide('slides.hotel_name');" ng-show="columnsShown.hotel_name"
                class="sorting {{slidesList.orderBy === 'slides.hotel_name' ? ' sorting_' + slidesList.orderDir : ''}}">Hotel</th>
            <th ng-click="sortSlide('slides.room_name');" ng-show="columnsShown.room_name"
                class="sorting {{slidesList.orderBy === 'slides.room_name' ? ' sorting_' + slidesList.orderDir : ''}}">Slide</th>
            <th ng-click="sortSlide('slides.status');"
                class="sorting{{slidesList.orderBy === 'slides.status' ? ' sorting_' + slidesList.orderDir : ''}}">
                Status
            </th>
            <th ng-click="sortSlide('slides.ordering');" ng-show="columnsShown.ordering"
                class="sorting col-w-55{{slidesList.orderBy === 'slides.ordering' ? ' sorting_' + slidesList.orderDir : ''}}">
                Ordering
            </th>
            <th style="min-width: 50px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="slidesList.data.length == 0">
            <td valign="top" colspan="20" class="dataTables_empty">Not found</td>
        </tr>
        <tr ng-repeat="(index, Slide) in slidesList.data">
            <td>
                {{index + 1 + (slidesList.currentPage-1)*10}}
            </td>
            <td ng-show="columnsShown.name">{{Slide.name}}</td>
            <td ng-show="columnsShown.description">{{Slide.description}}</td>
            <td ng-show="columnsShown.hotel_name">{{Slide.hotel_name}}</td>
            <td ng-show="columnsShown.room_name">{{Slide.room_name}}</td>
            <td><a href="" buttons="no"
                   editable-select="Slide.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Slide.id, $data)"
                   ng-class="{'text-success': Slide.status == '1','text-danger': Slide.status == '-1'}">
                {{(selectStatus | filter:{value: Slide.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td ng-show="columnsShown.ordering">
                <a href="" editable-number="Slide.ordering" e-required onbeforesave="updateOrder(Slide.id, $data)" buttons="no" e-style="width: 80px">{{ Slide.ordering || 'empty' }}</a>
            </td>
            <td>
                <a href="" ng-click="editSlide(index, Slide)"><i class="fa fa-pencil fa-lg fa-fw"></i></a>
                <a href="" class="text-danger delete-row" delete-id="{{Slide.id}}"><i class="fa fa-trash fa-lg fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="slidesList.data.length > 0">
            <td colspan="20" class="text-center">
                <paging
                    page="slidesList.currentPage"
                    page-size="slidesList.itemsPerPage"
                    total="slidesList.totalSlides"
                    adjacent="2"
                    dots="..."
                    scroll-top="{{scrollTop}}"
                    hide-if-empty="true"
                    ul-class="pagination"
                    active-class="active"
                    disabled-class="disabled"
                    show-prev-next="true"
                    paging-action="setPageSlide(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
