<div class="modal fade" id="modal-add-ads" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-ads" aria-hidden="false">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title">{{(currentAds.id) ? 'Update Ads' : 'Add New Ads'}}</h4>
                <div class="draft-warning" style="float: right;"
                     ng-show="savedAdDraft && !currentAds.id">
                    <a ng-click="loadAdDraft()">Get last draft for your Ads</a>
                </div>
            </div>
            <div class="modal-body">
                <form class="addAdsForm" name='addAdsForm' novalidate>
                    <div class="form-group">
                        <label class="control-label">Name <span class="symbol required"></span></label>
                        <input class="form-control required" type="text" placeholder="Name" name="name" ng-model='currentAds.name'>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea placeholder="Description" name="description"
                                  ng-model='currentAds.description' class="form-control">
                                </textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Url <span class="symbol required"></span></label>
                        <input class="form-control required url" type="text" placeholder="Url" name="ads_url" ng-model='currentAds.ads_url'>
                    </div>
                    <div class="ads-image-origin form-group">
                        <label class="control-label" style="display: block">Image origin <span
                                class="symbol required"></span></label>

                        <div ng-class="currentAds.image_origin ? 'fileinput fileinput-exists' : 'fileinput fileinput-new'"
                             data-provides="fileinput">
                            <div class="fileinput-preview thumbnail" style="width: 640px; height: 410px;">
                                <img ng-src="{{currentAds.image_origin ? currentAds.image_origin : 'http://via.placeholder.com/630x400'}}" id="ads-image-origin"/>
                            </div>

                            <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                                <a ng-click="currentAds.image_origin = ''"
                                   class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="ads-image-small form-group">
                        <label class="control-label" style="display: block">Image small</label>

                        <div ng-class="currentAds.image_small ? 'fileinput fileinput-exists' : 'fileinput fileinput-new'"
                             data-provides="fileinput">
                            <div class="fileinput-preview  thumbnail" style="width: 325px; height: 210px;">
                                <img ng-src="{{currentAds.image_small ? currentAds.image_small : 'http://via.placeholder.com/315x200'}}"
                                     id="ads-image-small"/>
                            </div>
                            <div>
                                    <span class="btn btn-default btn-file">
                                        <span class="fileinput-new">Select image</span>
                                        <span class="fileinput-exists">Change</span>
                                        <input type="file" name="...">
                                    </span>
                                <a ng-click="currentAds.image_small = ''"
                                   class="btn btn-default fileinput-exists" data-dismiss="fileinput">Remove</a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Show in Homepage</label>
                        <div class="form-horizontal" style="margin-bottom: 10px">
                            <label class="radio radio-inline">
                                <input ng-model="currentAds.show_in_home" type="radio" class="radiobox"
                                       ng-value="1">
                                <span>Yes</span>
                            </label>
                            <label class="radio radio-inline">
                                <input ng-model="currentAds.show_in_home" type="radio" class="radiobox"
                                       ng-value="0">
                                <span>No</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ordering</label>
                        <input type="number" ng-model='currentAds.ordering' class="form-control"/>
                    </div>
                    <div class="form-group" ng-show="currentAds.id">
                        <label class="control-label">Created</label>
                        <label class="control-label"><i>
                            {{currentAds.created_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                    <div class="form-group" ng-show="currentAds.id">
                        <label class="control-label">Author</label>
                        <label class="control-label"><b>
                            {{currentAds.author.email}}</b>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a class="btn btn-default" data-dismiss="modal">
                    Cancel
                </a>
                <button type="button" class="btn btn-primary" ng-click="saveAds()" ng-show="currentAds.id">
                    Save
                </button>
                <button class="btn btn-success" ng-click="saveAds('1')" ng-show="!currentAds.id || currentAds.status == '0'">
                    Publish
                </button>
                <button class="btn btn-info" ng-click="saveAds('0')"
                        ng-show="(!currentAds.id || arrayContains(currentAds.status,['-1','1']))">
                    Pending
                </button>
                <button type="button" class="btn btn-warning" ng-click="saveAds('-1')"
                        ng-show="(!currentAds.id) && arrayContains(currentAds.status, ['0','1'])">
                    Trash
                </button>
                <button class="btn btn-danger" ng-click="deleteAds(currentAds.id)"
                        ng-show="(!currentAds.id) && currentAds.status == 'trash'">
                    Delete
                </button>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control"  placeholder="Ad name" type="text"
                       ng-model="adsList.adSearchValue" ng-change='filterAds()'>
            </div>
        </div>
        <div class="col-sm-6 text-right form-group">
            <button class="btn btn-success" ng-click="addAds()">
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Add new Ads</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li>
                        <a ng-click="columnsShown.description = !columnsShown.description;updateColumnsShown()">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" ng-checked="columnsShown.description" >
                                    Description </label>
                            </div>
                        </a>
                    </li>
                    <li><a ng-click="columnsShown.ordering = !columnsShown.ordering;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.ordering">
                                Ordering </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-6 form-group">
            <select ng-model="filterAdsByStatus" class="form-control" ng-change="filterAds()">
                <option value=""> All Status</option>
                <option value="1"> Published</option>
                <option value="0"> Pending</option>
                <option value="-1"> Trash</option>
            </select>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-click="sortAds('ads.name');" ng-show="columnsShown.name"
                class="sorting{{adsList.orderBy === 'ads.name' ? ' sorting_' + adsList.orderDir : ''}}">Name</th>
            <th ng-click="sortAds('ads.description');" ng-show="columnsShown.description"
                class="sorting{{adsList.orderBy === 'ads.description' ? ' sorting_' + adsList.orderDir : ''}}">Description</th>
            <th>Created At</th>
            <th ng-click="sortAds('ads.status');"
                class="sorting{{adsList.orderBy === 'ads.status' ? ' sorting_' + adsList.orderDir : ''}}">
                Status
            </th>
            <th ng-click="sortAds('ads.ordering');" ng-show="columnsShown.ordering"
                class="sorting col-w-55{{adsList.orderBy === 'ads.ordering' ? ' sorting_' + adsList.orderDir : ''}}">
                Ordering
            </th>
            <th style="min-width: 50px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="adsList.data.length == 0">
            <td valign="top" colspan="20" class="dataTables_empty">Not found</td>
        </tr>
        <tr ng-repeat="(index, Ads) in adsList.data">
            <td>
                {{index + 1 + (adsList.currentPage-1)*10}}
            </td>
            <td ng-show="columnsShown.name">{{Ads.name}}</td>
            <td ng-show="columnsShown.description">{{Ads.description}}</td>
            <td>{{Ads.created_at | amDateFormat:'MMM DD YYYY, HH:mm'}}</td>
            <td><a href="" buttons="no"
                   editable-select="Ads.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Ads.id, $data)"
                   ng-class="{'text-success': Ads.status == '1','text-danger': Ads.status == '-1'}">
                {{(selectStatus | filter:{value: Ads.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td ng-show="columnsShown.ordering">
                <a href="" editable-number="Ads.ordering" e-required onbeforesave="updateOrder(Ads.id, $data)" buttons="no" e-style="width: 80px">{{ Ads.ordering || 'empty' }}</a>
            </td>
            <td>
                <a href="" ng-click="editAds(index, Ads)"><i class="fa fa-pencil fa-lg fa-fw"></i></a>
                <a href="" class="text-danger delete-row" delete-id="{{Ads.id}}"><i class="fa fa-trash fa-lg fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="adsList.data.length > 0">
            <td colspan="20" class="text-center">
                <paging
                    page="adsList.currentPage"
                    page-size="adsList.itemsPerPage"
                    total="adsList.totalAds"
                    adjacent="2"
                    dots="..."
                    scroll-top="{{scrollTop}}"
                    hide-if-empty="true"
                    ul-class="pagination"
                    active-class="active"
                    disabled-class="disabled"
                    show-prev-next="true"
                    paging-action="setPageAds(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
