<div class="modal fade" id="modal-add-salaryh" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-salaryh" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-add-salaryh">{{currentSalaryh.addMode ? 'Thêm mới' : 'Sửa thông tin'}} trả lương</h4>

            </div>
            <div class="modal-body" id="salary-pdf-body">
                <form class="addSalaryhForm form-validator" name='addSalaryhForm' autocomplete="off">
                    <div class="form-group export-elements text-center">
                        <h2><b>Phiếu nhận lương</b></h2>
                    </div>
                    <div class="form-group" >
                        <label class="control-label" >Nhân viên <span class="symbol required"></span></label>
                        <select ng-model="currentSalaryh.user_id" class="form-control required text-left" ng-if="currentSalaryh.id" id="currentSalaryhUser"
                                ng-options="s.id as s.fullname for s in staffs" name="user_id">
                        </select>
                        <select ng-model="currentSalaryh.user_id" class="form-control required text-left" ng-show="!currentSalaryh.id"
                                ng-init="currentSalaryh.user_id=staffs[0].id"
                                ng-options="s.id as s.fullname for s in staffs | filter:{ status : 1}" name="user_id">
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label" >Danh mục mức lương </label>
                                <select ng-model="currentSalaryh.salary_id" class="form-control text-left" ng-init="currentSalaryh.salary_id=salaries[0].id"
                                        ng-options="s.id as s.name for s in salaries" ng-change="currentSalaryConfig=(salaries|filter:{id:currentSalaryh.salary_id})[0];fillDataSalary()">
                                </select>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Kiểu trả lương</label>
                                <select name="salary_type" id="salary_type" ng-model='currentSalaryh.salary_type'
                                        class="form-control text-left">
                                    <option value="1" ng-selected="currentSalaryh.salary_type == 1">Theo Ca</option>
                                    <option value="2" ng-selected="currentSalaryh.salary_type == 2">Theo Tháng</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label">Lương{{currentSalaryh.salary_type == 1 ? '/ca' : '/tháng'}}</label>
                        <input type="text" placeholder="Lương" name='daily_salary' class="form-control text-left" ng-blur="calculateWorkedSalary()"
                               ng-model="currentSalaryh.daily_salary" cr-numeric ng-show="currentSalaryh.salary_type == 1">
                        <input type="text" placeholder="Lương" name='monthly_salary' class="form-control text-left" ng-blur="calculateWorkedSalaryMonth()"
                               ng-model="currentSalaryh.monthly_salary" cr-numeric ng-show="currentSalaryh.salary_type == 2">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Lương{{currentSalaryh.salary_type == 1 ? ' theo ngày' : ' của tháng'}} <span class="symbol required"></span></label>
                        <div class="input-group" ng-show="currentSalaryh.salary_type == 2">
                            <input type="text" id="salaryhByMonth" name="salaryhByMonth" ng-model="currentSalaryh.pay_at_month"
                                   class="form-control salaryhByMonth required date-required text-left" placeholder="Lương theo tháng">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                        <div class="row" ng-show="currentSalaryh.salary_type == 1">
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" id="salaryhStartDate" name="salaryhStartDate" ng-model="currentSalaryh.pay_at_start"
                                           class="form-control salaryhDateStartEnd required date-required text-left" placeholder="Từ ngày *">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="input-group">
                                    <input type="text" id="salaryhEndDate" name="salaryhEndDate" ng-model="currentSalaryh.pay_at_end"
                                           class="form-control salaryhDateStartEnd required date-required text-left" placeholder="Đến ngày *">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="currentSalaryh.salary_type == 2">
                        <label class="control-label">Số ngày trong tháng:</label>
                        <label class="control-label"><b>
                            {{currentSalaryh.days_in_month}} ngày</b>
                        </label>
                    </div>
                    <div class="form-group" >
                        <div class="row">
                            <div class="col-sm-6" ng-show="currentSalaryh.salary_type == 2">
                                <label class="control-label">Lương mỗi ngày</label>
                                <input type="text" placeholder="Lương" name='daily_salary' class="form-control text-left" ng-blur="calculateWorkedSalary()"
                                       ng-model="currentSalaryh.daily_salary" cr-numeric>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Số Công đã làm</label>
                                <input type="text" placeholder="0.0" name='work_day' class="form-control text-left" ng-blur="calculateWorkedSalary()"
                                       ng-model="currentSalaryh.worked_days" cr-numeric="{mDec:1}">
                            </div>
                        </div>

                    </div>
                    <hr>
                    <div class="form-horizontal" style="min-height: 360px">
                        <div class="form-group">
                            <label class="col-sm-6 control-label text-right">Lương tạm tính:</label>
                            <div class="col-sm-6">
                                <input type="text" ng-model="currentSalaryh.work_salary" cr-numeric class="form-control" style="text-align: right;" ng-change="calculateTotalSalary()">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Phụ cấp + thưởng:</label>
                            <div class="col-sm-6">
                                <input type="text" name='allowance' class="form-control" ng-blur="calculateTotalSalary()"
                                       ng-model="currentSalaryh.allowance" cr-numeric style="text-align: right;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-6 control-label">Khấu trừ lương:</label>
                            <div class="col-sm-6">
                                <input type="text" name='deduction' class="form-control" ng-blur="calculateTotalSalary()"
                                       ng-model="currentSalaryh.deduction" cr-numeric style="text-align: right;">
                            </div>
                        </div>
                        <div class="form-group salary-debt-right">
                            <div class="col-sm-6">
                                <div class="smart-form ">
                                    <label class="checkbox" style="padding-top: 0">
                                        <input type="checkbox" name="pay_debt" ng-checked="currentSalaryh.pay_debt" ng-click="getDebtSalaryh($event, 'total_remaining')" />
                                        <i></i>Trả tiền ứng lương</label>
                                </div>
                            </div>
                            <label class="col-sm-6">
                                <b>{{currentSalaryh.pay_debt | number}}</b>
                            </label>
                        </div>
                        <div class="form-group salary-debt-right">
                            <div class="col-sm-6">
                                <div class="smart-form ">
                                    <label class="checkbox" style="padding-top: 0">
                                        <input type="checkbox" name="pay_lack" ng-checked="currentSalaryh.pay_lack" ng-click="getDebtSalaryh($event, 'total_lack')" />
                                        <i></i>Trả tiền thiếu ca</label>
                                </div>
                            </div>
                            <label class="col-sm-6">
                                <b>{{currentSalaryh.pay_lack | number}}</b>
                            </label>
                        </div>
                        <div class="form-group salary-debt-right">
                            <div class="col-sm-6">
                                <div class="smart-form ">
                                    <label class="checkbox" style="padding-top: 0">
                                        <input type="checkbox" name="pay_customer_debt" ng-checked="currentSalaryh.pay_customer_debt" ng-click="getDebtSalaryh($event, 'total_customer_debt')" />
                                        <i></i>Trả tiền khách nợ</label>
                                </div>
                            </div>
                            <label class="col-sm-6">
                                <b>{{currentSalaryh.pay_customer_debt | number}}</b>
                            </label>
                        </div>
                        <div class="form-group salary-debt-right">
                            <div class="col-sm-6">
                                <div class="smart-form ">
                                    <label class="checkbox" style="padding-top: 0">
                                        <input type="checkbox" name="pay_wrong_card" ng-checked="currentSalaryh.pay_wrong_card" ng-click="getDebtSalaryh($event, 'total_wrong_card')" />
                                        <i></i>Trả tiền in thẻ nhầm</label>
                                </div>
                            </div>
                            <label class="col-sm-6">
                                <b>{{currentSalaryh.pay_wrong_card | number}}</b>
                            </label>
                        </div>
                        <div class="form-group form-group-lg">
                            <label class="col-sm-6 control-label">Tổng lương nhận được:</label>
                            <label class="col-sm-6 control-label">
                                <b>{{currentSalaryh.total_salary | number}}</b>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ghi chú</label>
                        <textarea class="form-control" rows="3" name="note"
                                  placeholder="Chú thích" ng-model="currentSalaryh.note">
                        </textarea>
                    </div>
                    <div class="form-group" ng-show="!currentSalaryh.addMode && currentSalaryh.created_at">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Ngày tạo </label>
                                <label class="control-label"><i>
                                    {{currentSalaryh.created_at | amDateFormat:'DD/MM/YYYY, HH:mm'}}</i>
                                </label>
                            </div>
                            <div class="col-sm-6 text-right export-elements">
                                <i>Ngày .... tháng .... năm ........</i>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-show="!currentSalaryh.addMode && currentSalaryh.created_by">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Người tạo</label>
                                <label class="control-label"><b>
                                    {{currentSalaryh.author.fullname}}</b>
                                </label>
                            </div>
                            <div class="col-sm-6 text-right export-elements">
                                <div style="margin-right: 15px"><b>Người nhận lương</b></div>
                                <div style="margin-right: 15px">(<i>Ký và ghi rõ họ tên</i>)</div>
                                <br><br><br><br>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="saveSalaryh()" ng-if='userLogin.user_type > 1'>
                    {{currentSalaryh.addMode ? 'Thêm' : 'Lưu'}}
                </a>
                <a type="button" class="btn btn-success create_pdf" ng-click="exportPNG()" ng-show='userLogin.user_type > 1 && currentSalaryh.id'>
                    Xuất PNG
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-export-salaryh" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-salaryh" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Xuất File PNG</h4>
            </div>
            <div class="modal-body no-padding">
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-success" ng-click="downloadPNG()" ng-show='userLogin.user_type > 1 && currentSalaryh.id' id="btn-Convert-Html2Image">
                    Download PNG
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-3 form-group">
            <div class="input-group">
                <input type="text" id="filterSalaryhByDate"
                       class="form-control filterSalaryhByDate" placeholder="Tìm kiếm theo tháng">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
        </div>
        <div class="col-sm-3 form-group">
            <select ng-model="filterSalaryhByStaff" class="form-control"
                    ng-options="u.id as u.fullname for u in staffs" ng-change="filterSalaryh()">
                <option value="">Tất cả nhân viên</option>
            </select>
        </div>
        <div class="col-sm-6 text-right form-group">
            <div class="form-inline">
                <select style="width: 50%;" ng-model="filterSalaryhByStore" name="filterSalaryhByStore" ng-change="filterSalaryh()" class="form-control" ng-show="stores.length > 1"
                        ng-options="s.id as s.name for s in stores track by s.id" id="store-selected">
                    <option value="">Tất cả cửa hàng</option>
                </select>
                <button class="btn btn-primary" ng-click="filterSalaryh()">
                    <i class="fa fa-refresh"></i> <span class="hidden-mobile">Xem</span>
                </button>
                <button class="btn btn-success" ng-click="addSalaryh()" ng-if='userLogin.user_type > 1'>
                    <i class="fa fa-plus"></i> <span class="hidden-mobile">Trả lương</span>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-click="sortSalaryh('s.pay_at_end');"
                class="sorting{{salaryhList.orderBy === 's.pay_at' ? ' sorting_' + salaryhList.orderDir : ''}}">Lương của ngày(tháng)</th>
            <th>Nhân viên</th>
            <th>Số công làm</th>
            <th>Lương nhận</th>
            <th style="min-width: 50px;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="salaryhList.data.length == 0">
            <td valign="top" colspan="20" class="dataTables_empty">Không tìm thấy</td>
        </tr>
        <tr ng-repeat="(index, Salaryh) in salaryhList.data">
            <td>
                {{index + 1 + (salaryhList.currentPage-1)*10}}
            </td>
            <td>{{Salaryh.pay_at_start | amDateFormat:'DD/MM/YYYY' }} - {{Salaryh.pay_at_end | amDateFormat:'DD/MM/YYYY'}}</td>
            <td>{{Salaryh.fullname}}</td>
            <td>{{Salaryh.worked_days | number}}</td>
            <td class="text-right">{{Salaryh.total_salary | number}}</td>
            <td >
                <a href="" ng-click="editSalaryh(index, Salaryh)"><i class="fa fa-pencil fa-lg fa-fw"></i></a>
                <a href="" ng-if='userLogin.user_type > 1' class="text-danger delete-row" delete-id="{{Salaryh.id}}"><i class="fa fa-trash fa-lg fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="salaryhList.data.length > 0">
            <td colspan="20" class="text-center">
                <paging
                        page="salaryhList.currentPage"
                        page-size="salaryhList.itemsPerPage"
                        total="salaryhList.totalSalaryh"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPageSalaryh(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
<script src="../../plugin/html2pdf/html2canvas.js"></script>