<div class="modal fade" id="modal-add-package" tabindex="-1" role="dialog"
     aria-labelledby="modal-label-add-package" aria-hidden="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="modal-label-add-package">{{currentPackage.addMode ? 'Thêm mới' : 'Sửa thông tin'}} gói cước</h4>

            </div>
            <div class="modal-body">
                <form class="addPackageForm form-validator" name='addPackageForm' autocomplete="off">
                    <div class="form-group">
                        <label class="control-label">Tên <span class="symbol required"></span></label>
                        <input type="text" placeholder="Name" name='name' class="form-control required"
                               ng-model="currentPackage.name">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mô tả </label>
                        <textarea placeholder="Mô tả" name='description' class="form-control"
                                  ng-model="currentPackage.description"></textarea>
                    </div>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label class="control-label">Số tháng sử dụng <span class="symbol required"></span></label>
                                <input type="number" name='months_used' class="form-control required"
                                       ng-model="currentPackage.months_used">
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Giá <span class="symbol required"></span></label>
                                <input type="text" name='price' class="form-control required" id="invoice-extra-amount"
                                       ng-model="currentPackage.price" cr-numeric>
                            </div>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="control-label">Số thứ tự </label>
                        <input type="number" name='ordering' class="form-control"
                               ng-model="currentPackage.ordering">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Trạng thái</label>
                        <select name="status" ng-model='currentPackage.status' class="form-control" >
                            <option value="1" ng-selected="currentPackage.status == 1">Hoạt động</option>
                            <option value="0" ng-selected="currentPackage.status == 0">Không hoạt động</option>
                        </select>
                    </div>
                    <div class="form-group" ng-show="!currentPackage.addMode && currentPackage.created_at">
                        <label class="control-label">Ngày tạo </label>
                        <label class="control-label"><i>
                            {{currentPackage.created_at | amDateFormat:'DD/MM/YYYY, HH:mm'}}</i>
                        </label>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a type="button" class="btn btn-default" data-dismiss="modal">
                    Hủy
                </a>
                <a class="btn btn-primary" ng-click="savePackage()">
                    {{currentPackage.addMode ? 'Thêm' : 'Lưu'}}
                </a>
            </div>
        </div>
    </div>
</div>
<div class="widget-body-toolbar">
    <div class="row">
        <div class="col-sm-6 form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input class="form-control"  placeholder="Tên gói" type="text"
                       ng-model="packagesList.packageSearchValue" ng-change='filterPackage()'>
            </div>
        </div>
        <div class="col-sm-6 text-right form-group">
            <button class="btn btn-success" ng-click="addPackage()" ng-if='userLogin.user_type == 3'>
                <i class="fa fa-plus"></i> <span class="hidden-mobile">Thêm</span>
            </button>
            <div class="btn-group">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    Columns <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" aria-labelledby="dropdownMenu1">
                    <li><a ng-click="columnsShown.description = !columnsShown.description;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.description">
                                Mô tả </label>
                        </div>
                    </a></li>
                    <li><a ng-click="columnsShown.created_at = !columnsShown.created_at;updateColumnsShown()">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" ng-checked="columnsShown.created_at">
                                Ngày tạo </label>
                        </div>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="tables_processing" style="display: none;">Processing...</div>
<div class="table-responsive">
    <table class="table table-bordered table-hover dataTable table-striped">
        <thead aria-controls="table-list-action-head">
        <tr>
            <th>#</th>
            <th ng-click="sortPackage('packages.name');"
                class="sorting{{packagesList.orderBy === 'packages.name' ? ' sorting_' + packagesList.orderDir : ''}}">Tên gói</th>
            <th ng-click="sortPackage('packages.description');" ng-show="columnsShown.description"
                class="sorting{{packagesList.orderBy === 'packages.description' ? ' sorting_' + packagesList.orderDir : ''}}">Mô tả</th>
            <th ng-click="sortPackage('packages.months_used');"
                class="sorting{{packagesList.orderBy === 'packages.months_used' ? ' sorting_' + packagesList.orderDir : ''}}">Số tháng</th>
            <th ng-click="sortPackage('packages.price');"
                class="sorting{{packagesList.orderBy === 'packages.price' ? ' sorting_' + packagesList.orderDir : ''}}">Giá</th>
            <th ng-click="sortPackage('packages.ordering');"
                class="sorting{{packagesList.orderBy === 'packages.ordering' ? ' sorting_' + packagesList.orderDir : ''}}">Thứ tự</th>
            <th ng-click="sortPackage('packages.created_at');" ng-show="columnsShown.created_at"
                class="sorting{{packagesList.orderBy === 'packages.created_at' ? ' sorting_' + packagesList.orderDir : ''}}">Ngày tạo</th>
            <th ng-click="sortCategory('packages.status');"
                class="sorting{{packagesList.orderBy === 'packages.status' ? ' sorting_' + packagesList.orderDir : ''}}">
                Trạng thái
            </th>
            <th style="min-width: 50px;" ng-if='userLogin.user_type > 1'></th>
        </tr>
        </thead>
        <tbody>
        <tr class="odd" ng-if="packagesList.data.length == 0">
            <td valign="top" colspan="10" class="dataTables_empty">Không tìm thấy</td>
        </tr>
        <tr ng-repeat="(index, Package) in packagesList.data">
            <td>
                {{index + 1 + (packagesList.currentPage-1)*10}}
            </td>
            <td>{{Package.name}}</td>
            <td ng-show="columnsShown.description">{{Package.description}}</td>
            <td>{{Package.months_used | number}}</td>
            <td>{{Package.price | number}}</td>
            <td>{{Package.ordering | number}}</td>
            <td ng-show="columnsShown.created_at">{{Package.created_at | amDateFormat:'DD/MM/YYYY'}}</td>
            <td>
                <a href="" buttons="no" ng-if='(userLogin.user_type > 1 && userLogin.package_id == Package.id) || userLogin.user_type == 3'
                   editable-select="Package.status" e-ng-options="s.value as s.text for s in selectStatus"
                   onbeforesave="updateStatus(Package.id, $data)"
                   ng-class="{'text-success': Package.status == '1','text-danger': Package.status == '0'}">
                {{(selectStatus | filter:{value: Package.status})[0].text || 'Not set' }}
                </a>
                <a href="" ng-if='userLogin.user_type <= 1 && userLogin.package_id != Package.id'
                   ng-class="{'text-success': Package.status == '1','text-danger': Package.status == '0'}">
                    {{(selectStatus | filter:{value: Package.status})[0].text || 'Not set' }}
                </a>
            </td>
            <td ng-if='userLogin.user_type > 1'>
                <a href="" ng-if='(userLogin.user_type > 1 && userLogin.package_id == Package.id) || userLogin.user_type == 3' ng-click="editPackage(index, Package)"><i class="fa fa-pencil fa-fw"></i></a>
                <a href="" ng-if='userLogin.user_type == 3' class="text-danger delete-row" delete-id="{{Package.id}}"><i class="fa fa-trash fa-fw"></i></a>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr ng-if="packagesList.data.length > 0">
            <td colspan="10" class="text-center">
                <paging
                        page="packagesList.currentPage"
                        page-size="packagesList.itemsPerPage"
                        total="packagesList.totalPackages"
                        adjacent="2"
                        dots="..."
                        scroll-top="{{scrollTop}}"
                        hide-if-empty="true"
                        ul-class="pagination"
                        active-class="active"
                        disabled-class="disabled"
                        show-prev-next="true"
                        paging-action="setPagePackage(page)">
                </paging>
            </td>
        </tr>

        </tfoot>
    </table>
</div>
