<div class="page-footer">
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <span class="txt-color-white">© 2012-2017</span>
        </div>
        <div class="col-sm-9">
            <div class="marquee">
                <div>
                    <span ng-repeat="(index, log) in actionLogs" class="txt-color-white">{{log.created_at | amDateFormat:'HH:mm'}} <i ng-bind-html="log.content"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>