<header id="header">
<div id="logo-group">

    <!-- PLACE YOUR LOGO HERE -->
    <span id="logo"> <img src="styles/img/logo-o.png" alt="{{userLogin.store.name}}" style="height: 30px;"> {{userLogin.store.name}}</span>
    <!-- END LOGO PLACEHOLDER -->
</div>
<!-- pulled right: nav area -->
<div class="pull-right">

    <!-- collapse menu button -->
    <div id="hide-menu" class="btn-header pull-right">
        <span> <a toggle-menu title="Collapse Menu"><i
                class="fa fa-reorder"></i></a> </span>
    </div>
    <!-- end collapse menu -->

    <!-- #MOBILE -->
    <!-- Top menu profile link : this shows only when top menu is active -->
    <ul id="mobile-profile-img" class="header-dropdown-list hidden-xs padding-5">
        <li class="">
            <a href="#" class="dropdown-toggle no-margin userdropdown" data-toggle="dropdown">
                <img ng-src="{{userLogin.avatar}}" alt="{{userLogin.lastname}}" class="online"/>
            </a>
            <ul class="dropdown-menu pull-right">
                <li>
                    <a href-void class="padding-10 padding-top-0 padding-bottom-0"><i
                            class="fa fa-cog"></i> Setting</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a ui-sref="app.appViews.profileDemo" class="padding-10 padding-top-0 padding-bottom-0"> <i class="fa fa-user"></i>
                        <u>P</u>rofile</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href-void class="padding-10 padding-top-0 padding-bottom-0"
                       data-action="toggleShortcut"><i class="fa fa-arrow-down"></i> <u>S</u>hortcut</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a href-void class="padding-10 padding-top-0 padding-bottom-0"
                       data-action="launchFullscreen"><i class="fa fa-arrows-alt"></i> Full <u>S</u>creen</a>
                </li>
                <li class="divider"></li>
                <li>
                    <a class="padding-10 padding-top-5 padding-bottom-5" logout><i
                            class="fa fa-sign-out fa-lg"></i> <strong><u>L</u>ogout</strong></a>
                </li>
            </ul>
        </li>
    </ul>

    <!-- logout button -->
    <div id="logout" class="btn-header transparent pull-right">
        <span> <a logout title="Sign Out"><i class="fa fa-sign-out"></i></a> </span>
    </div>
    <!-- end logout button -->

    <!-- search mobile button (this is hidden till mobile view port) -->
    <!--<div id="search-mobile" class="btn-header transparent pull-right" data-search-mobile>-->
        <!--<span> <a href="#" title="Search"><i class="fa fa-search"></i></a> </span>-->
    <!--</div>-->
    <!-- end search mobile button -->

    <!-- input: search field -->
    <!--<form action="#/search" class="header-search pull-right">-->
        <!--<input id="search-fld" type="text" name="param" placeholder="Find reports and more" data-autocomplete='[-->
					<!--"ActionScript",-->
					<!--"AppleScript",-->
					<!--"Asp",-->
					<!--"BASIC",-->
					<!--"C",-->
					<!--"C++",-->
					<!--"Clojure",-->
					<!--"COBOL",-->
					<!--"ColdFusion",-->
					<!--"Erlang",-->
					<!--"Fortran",-->
					<!--"Groovy",-->
					<!--"Haskell",-->
					<!--"Java",-->
					<!--"JavaScript",-->
					<!--"Lisp",-->
					<!--"Perl",-->
					<!--"PHP",-->
					<!--"Python",-->
					<!--"Ruby",-->
					<!--"Scala",-->
					<!--"Scheme"]'>-->
        <!--<button type="submit">-->
            <!--<i class="fa fa-search"></i>-->
        <!--</button>-->
        <!--<a href="$" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>-->
    <!--</form>-->
    <!-- end input: search field -->
    <!-- fullscreen button -->
    <!--<div id="fullscreen" class="btn-header transparent pull-right">-->
        <!--<span> <a full-screen title="Full Screen"><i-->
                <!--class="fa fa-arrows-alt"></i></a> </span>-->
    <!--</div>-->
    <!-- end fullscreen button -->
</div>
<!-- end pulled right: nav area -->

</header>