<aside id="left-panel">

    <!-- User info -->
    <div class="login-info ng-cloak">
        <span><!-- User image size is adjusted inside CSS, it should stay as it -->
            <a  href="javascript:void(0);" toggle-shortcut>
                <img ng-src="{{userLogin.avatar}}" alt="{{userLogin.lastname}}" class="online">
                <span id="show-shortcut">{{userLogin.lastname}}</span>
                <i class="fa fa-angle-down"></i>
            </a>
         </span>
    </div>
    <!-- end user info -->

    <nav>
        <!-- NOTE: Notice the gaps after each icon usage <i></i>..
        Please note that these links work a bit different than
        traditional href="" links. See documentation for details.
        -->

        <ul data-smart-menu>
            <li data-menu-collapse class="open">
                <a href="#"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Content Management </span></a>
                <ul>
                    <li data-ui-sref-active="active">
                        <a data-ui-sref="app.contManager">Hotels</a>
                    </li>
                </ul>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.bookingsManagement.booking" title="Booking management"><i class="fa fa-lg fa-fw fa-book"></i> <span
                        class="menu-item-parent">Booking </span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.slidesManagement.slide" title="Slide management"><i class="fa fa-lg fa-fw fa-sliders"></i> <span
                        class="menu-item-parent">Slides </span></a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="app.adsManagement.ads" title="Ads management"><i class="fa fa-lg fa-fw fa-desktop"></i> <span
                        class="menu-item-parent">Ads </span></a>
            </li>
            <li data-menu-collapse >
                <a href="#"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent">System </span></a>
                <ul>
                    <li>
                        <a data-ui-sref="app.systemManager.changePass">Change password</a>
                    </li>
                    <li>
                        <a logout title="Sign Out" href=""><i class="fa fa-sign-out"></i> Logout</a>
                    </li>
                </ul>
            </li>
            <!--<li data-menu-collapse class="chat-users top-menu-invisible">-->
                <!--<a href="#"><i class="fa fa-lg fa-fw fa-comment-o"></i> <span class="menu-item-parent">Smart Chat API  </span></a>-->
                <!--<ul aside-chat-widget>-->
                <!--</ul>-->
            <!--</li>-->
        </ul>
    </nav>
  <span class="minifyme" data-action="minifyMenu" minify-menu>
    <i class="fa fa-arrow-circle-left hit"></i>
  </span>
</aside>